
<h4 style="background: #E7E8E8;
    padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;margin-left: 10px">
   Attributions
</h4>
<div class="card" style="margin: auto;margin-top:3%; border-color:#E7E8E8
    !important; border:solid">
    <p-table #dt [value]="positions" dataKey="positionId"
        styleClass="p-datatable-customers" [rowHover]="true" [rows]="5"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,20]"
        [loading]="loading" [paginator]="true"
        currentPageReportTemplate="" [filterDelay]="0"
        [globalFilterFields]="['positionLabel','positionCode']">
        <ng-template pTemplate="caption">
          <div >
            <div class="p-d-flex p-ai-center p-jc-between" style=" width: 60%; display: inline-block;">
              <span class="p-input-icon-left" style="width: 100%">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text" style="width: 93%;" class="searchInput, p-inputtext"(input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Chercher une position.." />
                      </span>
              </div>
      
             
          </div>


        </ng-template>
        <ng-template pTemplate="header">
            <tr style="text-align: center; font-size: 15px;">
                <th style="width: 3rem"></th>
             
                <th pSortableColumn="positionLabel" style="text-align: left;
                    font-size: 13px;width: 100%">Position </th>
                

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-position let-expanded="expanded">
            <tr class="p-selectable-row" style="text-align: center; font-size:
                13px;">
                <td>
                    <i *ngIf="!expanded" [pRowToggler]="position" class="pi
                        pi-chevron-right"></i>
                    <i *ngIf="expanded" [pRowToggler]="position" class="pi
                        pi-chevron-down"></i>
                </td>
              
                <td style="text-align: left!important;font-size: 13px;">
                    {{position.positionLabel}}    <div style="
                    float: right;
                    text-align: center;
                    background-color: #960032;
                    color: white;
                    font-size: 13px;
                    width: 20px;
                    height: 20px;
                    border-radius: 40%;
                    margin-left: -60px;
                    margin-top: -3px;
                  " ngbTooltip="{{position.attributions.length}} attribution(s) affectes">
           {{position.attributions.length}}
                  </div>
    
                </td>
               




            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-position>
            <tr>
                <td colspan="10" style="background-color: #960032 ;">
                    <div class="p-p-3">
                        <div style="margin-top: 10px;">
                            <p-panel header="List des attributions">
                        
                              <p-table #dt [value]="position.attributions" dataKey="attributionId" styleClass="p-datatable-customers" [rowHover]="true"
                                [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,15]" [paginator]="true"
                                currentPageReportTemplate="" >
                                <ng-template pTemplate="header">
                                  <tr style="text-align: center; font-size: 13px;">
                                    <th style="text-align: left; font-size: 13px; width: 92%;">Attribution</th>
                                    <th style="width:8%"></th>
                                  </tr>
                        
                                  <tr>
                                    <th style="font-size: 13px">
                                      <textarea style="font-size: 13px;" type="text" rows="2" class="form-control p-field"  pInputTextarea [(ngModel)]="line.attributionLabel"></textarea>
                   
                                    
                                    </th>
                                 
                                    <th>
                                      <button pButton placement="top" ngbTooltip="Ajouter" pRipple icon="pi pi-plus"
                                        class="p-button-rounded p-mr-2" style="margin-right: 7px;
                                                background-color: #960032; border-color: #960032;" [disabled]="checkLineValid()"
                                        [ngClass]="{ disabled: checkLineValid() }" (click)="addLine(position)"></button>
                                    </th>
                                  </tr>
                        
                                </ng-template>
                                <ng-template pTemplate="body" let-attribution>
                                  <tr class="p-selectable-row" style="text-align: left; font-size: 13px;">
                                    <td pEditableColumn style="text-align: left !important">
                                      <p-cellEditor>
                                        <ng-template pTemplate="input">
                                          <input style="font-size: 13px;" pInputText type="text" class="form-control p-field"
                                            [(ngModel)]="attribution.attributionLabel" (change)="editattribution(attribution)">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                          {{attribution.attributionLabel}} 
                                        </ng-template>
                                      </p-cellEditor>
                                    </td>
                                  
                        
                                    <td >
                        
                                        <i placement="top" ngbTooltip="Supprimer" class="pi pi-trash" style="color: #960032"
                                          (click)="deleteLine(attribution)"></i>
                                      
                        
                                    </td>
                                  </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                  <tr style="font-size: 13px;">
                                    <td colspan="8" style="text-align: left !important;">Aucune attribution trouvée!</td>
                                  </tr>
                                </ng-template>
                              </p-table>
                        
                        
                        
                        
                            </p-panel>
                          </div>
                      
                    </div>
                </td>
            </tr>
        </ng-template>
    
    </p-table>
</div>
