<!-- <ng-template [ngIf]="section === '5' && role==='condidat'"> -->
  <hr>
  <!-- 4) Information de condidate -->
  <div class="form-control-group">
    <label class="label" for="input-candidatDiplome">Diplôme obtenu</label>
    <input nbInput fullWidth [(ngModel)]="condidat.candidatDiplome" #candidatDiplome="ngModel" name="Mot de passe"
      type="text" id="input-candidatDiplome" placeholder="Diplôme obtenu:" fieldSize="small"
      [status]="candidatDiplome.dirty ? (candidatDiplome.invalid  ? 'danger' : 'primary') : 'basic'"
      [attr.aria-invalid]="candidatDiplome.invalid && candidatDiplome.touched ? true : null">
    <ng-container *ngIf="candidatDiplome.invalid && candidatDiplome.touched ">
      <p class="caption status-danger" *ngIf="candidatDiplome.errors?.required">
        Diplome obtenu
      </p>
    </ng-container>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-control-group">
        <label class="label" for="input-candidatAnneeDiplome">Année de Diplome </label>
        <input nbInput fullWidth [(ngModel)]="condidat.candidatAnneeDiplome" #candidatAnneeDiplome="ngModel" maxlength="4"
          name="Mot de passe" type="number" id="input-candidatAnneeDiplome" placeholder="Année de Diplome:"
          fieldSize="small"
          [status]="candidatAnneeDiplome.dirty ? (candidatAnneeDiplome.invalid  ? 'danger' : 'primary') : 'basic'"
          [attr.aria-invalid]="candidatAnneeDiplome.invalid && candidatAnneeDiplome.touched ? true : null">
        <ng-container *ngIf="candidatAnneeDiplome.invalid && candidatAnneeDiplome.touched ">
          <p class="caption status-danger" *ngIf="candidatAnneeDiplome.errors?.required">
            Année de Diplome
          </p>
        </ng-container>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-control-group">
        <label class="label" for="input-candidatNumberExperience">Nombre d'année d'expérience</label>
        <input nbInput fullWidth [(ngModel)]="condidat.candidatNumberExperience" maxlength="2" #candidatNumberExperience="ngModel"
          name="candidatNumberExperience" type="number" id="input-candidatNumberExperience"
          placeholder="Nombre d'année d'expérience:" fieldSize="small"
          [status]="candidatNumberExperience.dirty ? (candidatNumberExperience.invalid  ? 'danger' : 'primary') : 'basic'"
          [attr.aria-invalid]="candidatNumberExperience.invalid && candidatNumberExperience.touched ? true : null">
        <ng-container *ngIf="candidatNumberExperience.invalid && candidatNumberExperience.touched ">
          <p class="caption status-danger" *ngIf="candidatNumberExperience.errors?.required">
            Nombre d'année d'expérience
          </p>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="form-control-group">
    <label class="label" for="input-userPhoneNumber">Ecole</label>
    <input nbInput fullWidth [(ngModel)]="user.userPhoneNumber" #userPhoneNumber="ngModel" name="Mot de passe"
      type="text" id="input-userPhoneNumber" placeholder="Ecole:" fieldSize="small"
      [status]="userPhoneNumber.dirty ? (userPhoneNumber.invalid  ? 'danger' : 'primary') : 'basic'"
      [attr.aria-invalid]="userPhoneNumber.invalid && userPhoneNumber.touched ? true : null">
    <ng-container *ngIf="userPhoneNumber.invalid && userPhoneNumber.touched ">
      <p class="caption status-danger" *ngIf="userPhoneNumber.errors?.required">
        Ecole
      </p>
    </ng-container>
  </div>
  <div class="form-control-group">
    <label class="label" for="input-domaineLabel">Filiére</label>
    <select nbSelect class="browser-default custom-select" [(ngModel)]="filiere.domaineLabel" #domaineLabel="ngModel"
    name="domaineLabel" type="text" id="input-domaineLabel" placeholder="Ville de naissance:" fieldSize="small"
    [attr.aria-invalid]="domaineLabel.invalid && domaineLabel.touched ? true : null">
    <option *ngFor="let sectionn of sections" [value]="sectionn.domaineId">{{sectionn.domaineLabel}} </option>

  </select>

    <ng-container *ngIf="domaineLabel.invalid && domaineLabel.touched ">
      <p class="caption status-danger" *ngIf="domaineLabel.errors?.required">
        Filiére
      </p>
    </ng-container>
  </div>
  <!-- <button  nbButton fullWidth status="primary" size="large" style="background-color: #07112f2e !important; margin-top: 2% !important;
  border-color: #0b2089;">
    S'inscrire
  </button> -->
  <input type="submit" nbButton value="S'inscrire" [disabled]="checkCondidatValid()"
  [ngClass]="{'disabled': checkCondidatValid()}" (click)="register()" status="primary" size="large"
    class="btnNext ">
  <input type="button" nbButton value="Précédent" (click)="next($event)" id="4" status="info" size="large"
    class="btnPrecedent ">
<!-- </ng-template> -->
