<h4 *ngIf="skill.skillId == null" style="
    background: #e7e8e8;
    padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;
    margin-left: 10px;
  ">
  Ajouter une nouvelle  compétence
</h4>
<h4 *ngIf="skill.skillId != null" style="background: #E7E8E8; 
padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;margin-left: 10px">
  Modifier une compétence
  <span style="color:#900C3F; float: right" class="customer-badge ">crée le {{skill.createdAt }} -- modifiée le
    {{skill.updatedAt }}</span>
  <div><span class="customer-badge status-label">{{skill.skillLabel}}</span></div>

</h4>
<div style="
    width: 90%;
    margin: auto;
    margin-top: 3%;
    border-color: #e7e8e8 !important;
    border: solid;
  ">
  <p-panel>
    <div class="p-grid p-fluid">
      <div style="display: flex">
        <div class="mb-1 col-md-4 col-12">
          <label for="skilllabel" class="p-float-label" style="font-size: 13px">Libellé <strong style="color: #960032;">*</strong></label>
          <div class="p-inputgroup p-fluid">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>

            <input  type="text" class="form-control p-field" id="skilllabel"
              [(ngModel)]="skill.skillLabel" style="font-size: 13px" />
          </div>
        </div>
        <div  class="mb-1 col-md-4 col-12 ">
          <label for="skillCode" class="p-float-label" style="font-size: 13px">Code <strong style="color: #960032;">*</strong></label>

          <div class="p-inputgroup p-fluid">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>

            <input  type="text" class="form-control p-field" id="skillCode"
              [(ngModel)]="skill.skillCode" style="font-size: 13px" />
          </div>
          
        </div>

        <div  class="mb-1 col-md-4 col-12 ">
          <label for="skillsGroup" class="p-float-label" style="font-size: 13px">Famille des compétences <strong style="color: #960032;">*</strong></label>
           <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
  
            <select
                
                [(ngModel)]="skill.skillsGroup"
                class="browser-default custom-select"
                [compareWith]="compareSkillsGroup" 
              >
                <option *ngFor="let c of skillsGroupList" [ngValue]="c">
                  {{ c.skillsGroupLabel }}
                </option>
              </select>
          </div>
        </div>

      </div>
      
    </div>
  
    <div class="p-grid p-fluid">
      <div style="display: flex">
        <div class="mb-12 col-md-12 col-12">
          <label for="details" class="p-float-label" style="font-size: 13px">Détails</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-list"></i></span>
            <textArea id="skillDetails" name="fielddetails" ngDefaultControl
              [(ngModel)]="skill.skillDetails" [placeholder]="
            'Saisir içi plus de détatils sur votre famille des compétences..'
          " rows="3" style="width: 100%; text-align: justify; padding: 20px;">
        </textArea>
          </div>
        </div>

      </div>
    </div>
  </p-panel>
  <div style="margin-top: 10px;">
    <p-panel header={{titleHeadersubSkill}}>

      <p-table #dt [value]="skill.subSkills" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
        [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,15]" [paginator]="true"
        currentPageReportTemplate="" >
        <ng-template pTemplate="header">
          <tr style="text-align: center; font-size: 13px;">
            <th style="text-align: left; font-size: 13px; width: 90%;">Libellé de sous compétence</th>
            <th style="text-align: left; font-size: 13px; width: 90%;">Code de sous compétence</th>
            <th style="width:9%"></th>
          </tr>

          <tr>
            <th style="font-size: 13px;">
              <input style="font-size: 13px;" pInputText type="text" placeholder="Libellé de sous compétence" class="form-control p-field"
                [(ngModel)]="line.subSkillLabel">
            </th>
            <th style="font-size: 13px;">
              <input style="font-size: 13px;" pInputText type="text" placeholder="Code de sous compétence" class="form-control p-field"
                [(ngModel)]="line.subSkillCode">
            </th>

            <th>
              <button pButton placement="top" ngbTooltip="Ajouter" pRipple icon="pi pi-plus"
                class="p-button-rounded p-mr-2" style="margin-right: 7px;
                        background-color: #960032; border-color: #960032;" [disabled]="checkLineValid()"
                [ngClass]="{ disabled: checkLineValid() }" (click)="addLine()"></button>
            </th>
          </tr>

        </ng-template>
        <ng-template pTemplate="body" let-line>
          <tr class="p-selectable-row" style="text-align: left; font-size: 13px;">
            <td pEditableColumn style="text-align: left !important;">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input style="font-size: 13px;" pInputText type="text" class="form-control p-field"
                    [(ngModel)]="line.subSkillLabel">
                </ng-template>
                <ng-template pTemplate="output">
                  {{line.subSkillLabel}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn style="text-align: left !important;">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input style="font-size: 13px;" pInputText type="text" class="form-control p-field"
                    [(ngModel)]="line.subSkillCode">
                </ng-template>
                <ng-template pTemplate="output">
                  {{line.subSkillCode}}
                </ng-template>
              </p-cellEditor>
            </td> 

            <td style="text-align: center;">
              <div style="display: flex;">

                <i placement="top" ngbTooltip="Supprimer" class="pi pi-trash" style="color: #960032"
                  (click)="deleteLine(line)"></i>
              </div>

            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr style="font-size: 13px;">
            <td colspan="8" style="text-align: left !important;">Aucune sous compétence trouvée!</td>
          </tr>
        </ng-template>
      </p-table>




    </p-panel>
  </div>

  <div class="p-panel p-panel-header" style="margin-top: 20px; float: right; padding: 2%">
    <button pButton pRipple label="Annuler" icon="pi pi-times" class="btn btn-secondary" (click)="cancel()"></button>

    <button [disabled]="checkskillValid()" [ngClass]="{ disabled: checkskillValid() }" pButton pRipple
      label="Enregistrer" icon="pi pi-check" class="primaryBtn" (click)="saveNewskill()"
      style="margin-left: 10px"></button>
  </div>
</div>
