<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<h4  style="background: #E7E8E8; 
padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;margin-left: 10px">
Unités fonctionnelles
</h4>
<div class="card" style="margin-top: 3%;">


    <div *ngFor ="let company of tab_companies">
        
        <p-tree  
                [value]="company" 
                layout="horizontal" 
                selectionMode="single" 
                [(selection)]="selectedFile"
                [contextMenu]="cm" >
        </p-tree>
        <p-contextMenu #cm [model]="items"></p-contextMenu>
        

    </div>
</div>

<ngx-add-new-business-unit *ngIf="addUnitWindow" 
                    [action]="action"
                    [businessUnit]="businessUnit" 
                    [company]="company" 
                    (addNewBusinessUnitEvent)="saveNewBusinessUnit($event)"
                    (editBusinessUnitEvent)="editBusinessUnit($event)"
                    (cancelEvent)="hideBusinessUnitWindow(); initBusinessUnit();">
</ngx-add-new-business-unit>


<p-dialog header="Supprimer une unité fonctionnelle" [(visible)]="displayDeleteBusinessUnit" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <br>
  Voulez-vous supprimer l'unité fonctionnelle' <span   class="customer-badge status-negotiation">{{businessUnitName}}</span> ?
  <ng-template pTemplate="footer">
    <div style="margin-top: 20px;">
      <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-secondary p-mr-2"
              (click)="displayDeleteBusinessUnit=false"></button>

			   <button pButton pRipple label="Supprimer" icon="pi pi-check" class="p-button-danger p-mr-2"
              (click)="delBusinessUnit()"></button>

    </div>
  </ng-template>
</p-dialog>