<nb-layout>
  <!-- <div class="row"> -->
  <!-- <div class="col-lg-6"> -->
  <!-- <nb-sidebar left> -->

  <!-- <nb-layout-column class="colored-column-basic">Layout Content</nb-layout-column> -->
  <nb-layout-column>
    <div class="containner">
      <div class="loginblock">
        <div>
          <img src="../../../assets/images/back.png" width="35%" />
        </div>
        <div style="text-align:center">
          <span class="ijob">I JOB</span>
        </div>
        <div style="    margin-top: 21px;
    text-align: center;
">
          <span style="    font-weight: bold;
  color: white;
  font-size: 15px;">Application de gestion des recrutements </span>
        </div>
        <div style="    margin-top: 21px;
        text-align: right;
    ">
          <span style="    font-weight: bold;
  color: white;
  font-size: 10px;"><a [routerLink]="['/auth/login']">Revenir à l'espace d'authentification</a> </span>
        </div>
        <form #form="ngForm" aria-labelledby="title">
          <!-- Step1 -->
          <ng-template [ngIf]="section === '1'">
            <!-- <h5 class="text-white">1) Information générale</h5> -->
            <hr>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-control-group">
                  <input type="button" fullWidth nbButton value="stagiaire" (click)="changeRole($event)" id="2"
                    status="primary" size="large" class="btnStagiaire">
                  <!-- <br> -->
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-control-group">
                  <input type="button" fullWidth nbButton value="condidat" (click)="changeRole($event)" id="2"
                  status="primary" size="large" class="btnCondidat">
                </div>
              </div>
            </div>
          </ng-template>
          <!-- Step 2 -->
          <ng-template [ngIf]="section === '2'">
            <!-- <h5 class="text-white">2) Information de contact</h5> -->
            <hr>
            <div class="row">
              <div class="col-lg-6">

                <div class="form-control-group">
                  <label class="label" for="input-userFirstName">Nom*</label>

                  <input nbInput fullWidth [(ngModel)]="user.userFirstName" #userFirstName="ngModel"
                    name="userFirstName" type="text" id="input-userFirstName" placeholder="Nom:" fieldSize="small"
                    [status]="userFirstName.dirty ? (userFirstName.invalid  ? 'danger' : 'primary') : 'basic'"
                    [attr.aria-invalid]="userFirstName.invalid && userFirstName.touched ? true : null">
                  <ng-container *ngIf="userFirstName.invalid && userFirstName.touched ">
                    <p class="caption status-danger" *ngIf="userFirstName.errors?.required">
                      Nom*
                    </p>

                  </ng-container>
                </div>
              </div>
              <div class="col-lg-6">

                <div class="form-control-group">
                  <label class="label" for="input-userLastName">Prénom*</label>

                  <input nbInput fullWidth [(ngModel)]="user.userLastName" #userLastName="ngModel" name="userLastName"
                    type="text" id="input-userLastName" placeholder="Prénom:" fieldSize="small"
                    [status]="userLastName.dirty ? (userLastName.invalid  ? 'danger' : 'primary') : 'basic'"
                    [attr.aria-invalid]="userLastName.invalid && userLastName.touched ? true : null">
                  <ng-container *ngIf="userLastName.invalid && userLastName.touched ">
                    <p class="caption status-danger" *ngIf="userLastName.errors?.required">
                      Prénom*
                    </p>
                  </ng-container>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-control-group">
                  <label class="label" for="input-genre">Genre*</label>
                  <select nbSelect class="browser-default custom-select" [(ngModel)]="user.genre" #genre="ngModel"
                    name="genre" type="text" id="input-genre" selected="Masculin" fieldSize="small"
                    [attr.aria-invalid]="genre.invalid && genre.touched ? true : null">
                    <option value="masculin" checked selected="Masculin">Masculin</option>
                    <option value="feminin">Feminin</option>

                  </select>


                  <ng-container *ngIf="genre.invalid && genre.touched ">
                    <p class="caption status-danger" *ngIf="genre.errors?.required">
                      Genre
                    </p>
                  </ng-container>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-control-group">
                  <label class="label" for="input-userCivilStatus">Etat civil*</label>

                  <select nbSelect class="browser-default custom-select" [(ngModel)]="user.userCivilStatus"
                    #userCivilStatus="ngModel" name="userCivilStatus" type="text" id="input-userCivilStatus"
                    fieldSize="small"
                    [attr.aria-invalid]="userCivilStatus.invalid && userCivilStatus.touched ? true : null">
                    <option value="celibataire" checked selected="Celibataire"> Célibataire</option>
                    <option value="marie">Marié(e)</option>
                    <option value="divorce">Divorcé(e)</option>
                  </select>

                  <ng-container *ngIf="userCivilStatus.invalid && userCivilStatus.touched ">
                    <p class="caption status-danger" *ngIf="userCivilStatus.errors?.required">
                      Etat civil*
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="form-control-group">
              <label class="label" for="input-email">Date de naissance</label>

              <input nbInput fullWidth [(ngModel)]="user.userBirthDate" #userBirthDate="ngModel" name="Mot de passe"
                type="date" id="input-userBirthDate" placeholder="Nom:" fieldSize="small"
                [status]="userBirthDate.dirty ? (userBirthDate.invalid  ? 'danger' : 'primary') : 'basic'"
                [attr.aria-invalid]="userBirthDate.invalid && userBirthDate.touched ? true : null">
              <ng-container *ngIf="userBirthDate.invalid && userBirthDate.touched ">
                <p class="caption status-danger" *ngIf="userBirthDate.errors?.required">
                  Date de naissance
                </p>
              </ng-container>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-control-group">
                  <label class="label" for="input-userCity">Pays de naissance</label>
                  <select nbSelect class="browser-default custom-select" [(ngModel)]="user.userCity" #userCity="ngModel"
                    name="Mot de passe" type="text" id="input-userCity" (change)="changeCountry_($event.target.value)"
                    placeholder="Nom:" fieldSize="small"
                    [attr.aria-invalid]="userCity.invalid && userCity.touched ? true : null">
                    <option *ngFor="let count of countriesList" [value]="count.name"> {{count.name}}
                    </option>

                  </select>

                  <ng-container *ngIf="userCity.invalid && userCity.touched ">
                    <p class="caption status-danger" *ngIf="userCity.errors?.required">
                      Pays de naissance
                    </p>
                  </ng-container>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-control-group">
                  <label class="label" for="input-email">Ville de naissance</label>
                  <select nbSelect class="browser-default custom-select" [(ngModel)]="user.userCity" #userCity="ngModel"
                    name="userCity" type="text" id="input-userCity" placeholder="Ville de naissance:" fieldSize="small"
                    [attr.aria-invalid]="userCity.invalid && userCity.touched ? true : null">
                    <option *ngFor="let city of cities_" [value]="city.name">{{city.name}} </option>

                  </select>

                  <ng-container *ngIf="userCity.invalid && userCity.touched ">
                    <p class="caption status-danger" *ngIf="userCity.errors?.required">
                      Ville de naissance
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
            <input type="button" nbButton value="Suivant" (click)="next($event)" id="3" status="primary" size="large"
              class="btnNext ">
            <input type="button" nbButton value="Précédent" (click)="next($event)" id="1" status="info" size="large"
              class="btnPrecedent ">

          </ng-template>
          <!-- Step 3 -->
          <ng-template [ngIf]="section === '3'">
            <!-- <h5 class="text-white">3) stagiaire condidat</h5> -->
            <hr>

            <div class="form-control-group">
              <label class="label" for="input-userPhoneNumber">Numéro téléphone:</label>
              <input type="text" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'tn'}" name="userPhoneNumber"
                (hasError)="hasError($event)" (ng2TelOutput)="getNumber($event)" #userPhoneNumber="ngModel"
                placeholder="Numéro téléphone:" (intlTelInputObject)="telInputObject($event)"
                (countryChange)="onCountryChange($event)" class="form-control p-field" id="userPhoneNumber"
                [(ngModel)]="user.userPhoneNumber" (keyup)="CheckTelHasError=null" [ngClass]="{
'is-valid': CheckTelHasError==true && user.userPhoneNumber!=null ,
'is-invalid': CheckTelHasError==false && user.userPhoneNumber!= phone
}" />
              <ng-container *ngIf="userPhoneNumber.invalid && userPhoneNumber.touched">
                <p class="caption status-danger" *ngIf="userPhoneNumber.errors?.required">
                  Numéro téléphone !
                </p>

              </ng-container>
            </div>


            <div class="form-control-group">
              <label class="label" for="input-email">Email*</label>

              <input nbInput fullWidth [(ngModel)]="user.email" #email="ngModel" name="Mot de passe" type="email"
                id="input-email" [ngClass]="{
                  'is-invalid' : checkEmail== false ,
          'is-valid': checkEmail== true && user.userEmail!=null
        }" placeholder="Email" fieldSize="small" pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/"
                (keyup)="checkMail()" required
                [status]="email.dirty ? (email.invalid  ? 'danger' : 'primary') : 'basic'"
                [attr.aria-invalid]="email.invalid && email.touched ? true : null">
              <ng-container *ngIf="email.invalid && email.touched ">
                <p class="caption status-danger" *ngIf="email.errors?.required">
                  Mot de passe !
                </p>

              </ng-container>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-control-group">
                  <label class="label" for="input-userCity">Pays de naissance</label>
                  <select nbSelect class="browser-default custom-select" [(ngModel)]="user.userCity" #userCity="ngModel"
                    name="Mot de passe" type="text" id="input-userCity" (change)="changeCountry_($event.target.value)"
                    placeholder="Nom:" fieldSize="small"
                    [attr.aria-invalid]="userCity.invalid && userCity.touched ? true : null">
                    <option *ngFor="let count of countriesList" [value]="count.name"> {{count.name}}
                    </option>

                  </select>

                  <ng-container *ngIf="userCity.invalid && userCity.touched ">
                    <p class="caption status-danger" *ngIf="userCity.errors?.required">
                      Pays de naissance
                    </p>
                  </ng-container>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-control-group">
                  <label class="label" for="input-email">Ville de naissance</label>
                  <select nbSelect class="browser-default custom-select" [(ngModel)]="user.userCity" #userCity="ngModel"
                    name="userCity" type="text" id="input-userCity" placeholder="Ville de naissance:" fieldSize="small"
                    [attr.aria-invalid]="userCity.invalid && userCity.touched ? true : null">
                    <option *ngFor="let city of cities_" [value]="city.name">{{city.name}} </option>

                  </select>

                  <ng-container *ngIf="userCity.invalid && userCity.touched ">
                    <p class="caption status-danger" *ngIf="userCity.errors?.required">
                      Ville de naissance
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>


            <div class="form-control-group">
              <label class="label" for="input-userAddress">Adresse</label>

              <input nbInput fullWidth [(ngModel)]="user.userAddress" #userAddress="ngModel" name="Mot de passe"
                type="text" id="input-userAddress" placeholder="Adresse:" fieldSize="small"
                [status]="userAddress.dirty ? (userAddress.invalid  ? 'danger' : 'primary') : 'basic'"
                [attr.aria-invalid]="userAddress.invalid && userAddress.touched ? true : null">
              <ng-container *ngIf="userAddress.invalid && userAddress.touched ">
                <p class="caption status-danger" *ngIf="userAddress.errors?.required">
                  Adresse
                </p>
              </ng-container>
            </div>

            <input type="button" nbButton value="Suivant" (click)="next($event)" id="4" status="primary" size="large"
              class="btnNext ">
            <input type="button" nbButton value="Précédent" (click)="next($event)" id="2" status="info" size="large"
              class="btnPrecedent ">
          </ng-template>
          <!-- Step 4 -->
          <ng-template [ngIf]="section === '4' ">
            <hr>
            <div class="form-control-group">
              <label class="label" for="input-email">Login*</label>

              <input nbInput fullWidth [(ngModel)]="user.password" #password="ngModel" name="login" type="password"
                id="input-password" placeholder="Login:" fieldSize="small"
                [status]="password.dirty ? (password.invalid  ? 'danger' : 'primary') : 'basic'"
                [attr.aria-invalid]="password.invalid && password.touched ? true : null">
              <ng-container *ngIf="password.invalid && password.touched ">
                <p class="caption status-danger" *ngIf="password.errors?.required">
                  Mot de passe !
                </p>

              </ng-container>
            </div>
            <div class="form-control-group">
              <label class="label" for="input-email">Mot de passe*</label>

              <input nbInput fullWidth [(ngModel)]="user.password" #password="ngModel" name="Mot de passe"
                type="password" id="input-password" placeholder="Mot de passe" fieldSize="small"
                [status]="password.dirty ? (password.invalid  ? 'danger' : 'primary') : 'basic'"
                [attr.aria-invalid]="password.invalid && password.touched ? true : null">
              <ng-container *ngIf="password.invalid && password.touched ">
                <p class="caption status-danger" *ngIf="password.errors?.required">
                  Mot de passe !
                </p>

              </ng-container>
            </div>
            <div class="form-control-group">
              <label class="label" for="input-email">Confirmer votre mot de passe*</label>

              <input nbInput fullWidth [(ngModel)]="user.password" #password="ngModel" name="passwordconfirme"
                type="password" id="input-password" placeholder="Confirmer votre mot de passe" fieldSize="small"
                [status]="password.dirty ? (password.invalid  ? 'danger' : 'primary') : 'basic'"
                [attr.aria-invalid]="password.invalid && password.touched ? true : null">
              <ng-container *ngIf="password.invalid && password.touched ">
                <p class="caption status-danger" *ngIf="password.errors?.required">
                  Mot de passe !
                </p>

              </ng-container>
            </div>
            <input type="button" nbButton value="Suivant" (click)="next($event)" id="5" status="primary" size="large"
              class="btnNext ">
            <input type="button" nbButton value="Précédent" (click)="next($event)" id="3" status="info" size="large"
              class="btnPrecedent ">

          </ng-template>
          <!-- Step 5 & role stagiaire -->
          <ng-template [ngIf]="section === '5' && user.role==='stagiaire'">
            <hr>
            <div class="form-control-group">
              <label class="label" for="input-userPhoneNumber">Diplome a obtenir</label>
              <input nbInput fullWidth [(ngModel)]="user.userPhoneNumber" #userPhoneNumber="ngModel" name="diplome"
                type="text" id="input-userPhoneNumber" placeholder="Diplome à obtenir:" fieldSize="small"
                [status]="userPhoneNumber.dirty ? (userPhoneNumber.invalid  ? 'danger' : 'primary') : 'basic'"
                [attr.aria-invalid]="userPhoneNumber.invalid && userPhoneNumber.touched ? true : null">
              <ng-container *ngIf="userPhoneNumber.invalid && userPhoneNumber.touched ">
                <p class="caption status-danger" *ngIf="userPhoneNumber.errors?.required">
                  Diplome à obtenir
                </p>
              </ng-container>
            </div>
            <div class="form-control-group">
              <label class="label" for="input-userPhoneNumber">Niveau d'étude</label>
              <input nbInput fullWidth [(ngModel)]="user.userPhoneNumber" #userPhoneNumber="ngModel" name="Mot de passe"
                type="text" id="input-userPhoneNumber" placeholder="Niveau d'étude:" fieldSize="small"
                [status]="userPhoneNumber.dirty ? (userPhoneNumber.invalid  ? 'danger' : 'primary') : 'basic'"
                [attr.aria-invalid]="userPhoneNumber.invalid && userPhoneNumber.touched ? true : null">
              <ng-container *ngIf="userPhoneNumber.invalid && userPhoneNumber.touched ">
                <p class="caption status-danger" *ngIf="userPhoneNumber.errors?.required">
                  Niveau d'étude
                </p>
              </ng-container>
            </div>
            <div class="form-control-group">
              <label class="label" for="input-userPhoneNumber">Ecole</label>
              <input nbInput fullWidth [(ngModel)]="user.userPhoneNumber" #userPhoneNumber="ngModel" name="Mot de passe"
                type="text" id="input-userPhoneNumber" placeholder="Ecole:" fieldSize="small"
                [status]="userPhoneNumber.dirty ? (userPhoneNumber.invalid  ? 'danger' : 'primary') : 'basic'"
                [attr.aria-invalid]="userPhoneNumber.invalid && userPhoneNumber.touched ? true : null">
              <ng-container *ngIf="userPhoneNumber.invalid && userPhoneNumber.touched ">
                <p class="caption status-danger" *ngIf="userPhoneNumber.errors?.required">
                  Ecole
                </p>
              </ng-container>
            </div>
            <div class="form-control-group">
              <label class="label" for="input-userPhoneNumber">Filiére</label>
              <input nbInput fullWidth [(ngModel)]="user.userPhoneNumber" #userPhoneNumber="ngModel" name="Mot de passe"
                type="text" id="input-userPhoneNumber" placeholder="Filiére:" fieldSize="small"
                [status]="userPhoneNumber.dirty ? (userPhoneNumber.invalid  ? 'danger' : 'primary') : 'basic'"
                [attr.aria-invalid]="userPhoneNumber.invalid && userPhoneNumber.touched ? true : null">
              <ng-container *ngIf="userPhoneNumber.invalid && userPhoneNumber.touched ">
                <p class="caption status-danger" *ngIf="userPhoneNumber.errors?.required">
                  Filiére
                </p>
              </ng-container>
            </div>



            <button (ngSubmit)="login()" nbButton fullWidth status="primary" size="large" style="background-color: #07112f2e !important; margin-top: 2% !important;
            border-color: #0b2089;">
              S'inscrire
            </button>

          </ng-template>
          <ng-template [ngIf]="section === '5' && user.role==='condidat'">
            <hr>
            <!-- 4) Information de condidate -->
            <div class="form-control-group">
              <label class="label" for="input-userPhoneNumber">Diplôme obtenu</label>
              <input nbInput fullWidth [(ngModel)]="user.userPhoneNumber" #userPhoneNumber="ngModel" name="Mot de passe"
                type="text" id="input-userPhoneNumber" placeholder="Diplôme obtenu:" fieldSize="small"
                [status]="userPhoneNumber.dirty ? (userPhoneNumber.invalid  ? 'danger' : 'primary') : 'basic'"
                [attr.aria-invalid]="userPhoneNumber.invalid && userPhoneNumber.touched ? true : null">
              <ng-container *ngIf="userPhoneNumber.invalid && userPhoneNumber.touched ">
                <p class="caption status-danger" *ngIf="userPhoneNumber.errors?.required">
                  Diplome obtenu
                </p>
              </ng-container>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-control-group">
                  <label class="label" for="input-userAndiplome">Année de Diplome </label>
                  <input nbInput fullWidth [(ngModel)]="user.userAndiplome" #userAndiplome="ngModel" maxlength="4"
                    name="Mot de passe" type="text" id="input-userAndiplome" placeholder="Année de Diplome:"
                    fieldSize="small"
                    [status]="userAndiplome.dirty ? (userAndiplome.invalid  ? 'danger' : 'primary') : 'basic'"
                    [attr.aria-invalid]="userAndiplome.invalid && userAndiplome.touched ? true : null">
                  <ng-container *ngIf="userAndiplome.invalid && userAndiplome.touched ">
                    <p class="caption status-danger" *ngIf="userAndiplome.errors?.required">
                      Année de Diplome
                    </p>
                  </ng-container>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-control-group">
                  <label class="label" for="input-userAnExperience">Nombre d'année d'expérience</label>
                  <input nbInput fullWidth [(ngModel)]="user.userAnExperience" maxlength="2" #userAnExperience="ngModel"
                    name="Mot de passe" type="text" id="input-userAnExperience"
                    placeholder="Nombre d'année d'expérience:" fieldSize="small"
                    [status]="userAnExperience.dirty ? (userAnExperience.invalid  ? 'danger' : 'primary') : 'basic'"
                    [attr.aria-invalid]="userAnExperience.invalid && userAnExperience.touched ? true : null">
                  <ng-container *ngIf="userAnExperience.invalid && userAnExperience.touched ">
                    <p class="caption status-danger" *ngIf="userAnExperience.errors?.required">
                      Nombre d'année d'expérience
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="form-control-group">
              <label class="label" for="input-userPhoneNumber">Ecole</label>
              <input nbInput fullWidth [(ngModel)]="user.userPhoneNumber" #userPhoneNumber="ngModel" name="Mot de passe"
                type="text" id="input-userPhoneNumber" placeholder="Ecole:" fieldSize="small"
                [status]="userPhoneNumber.dirty ? (userPhoneNumber.invalid  ? 'danger' : 'primary') : 'basic'"
                [attr.aria-invalid]="userPhoneNumber.invalid && userPhoneNumber.touched ? true : null">
              <ng-container *ngIf="userPhoneNumber.invalid && userPhoneNumber.touched ">
                <p class="caption status-danger" *ngIf="userPhoneNumber.errors?.required">
                  Ecole
                </p>
              </ng-container>
            </div>

            <button (ngSubmit)="login()" nbButton fullWidth status="primary" size="large" style="background-color: #07112f2e !important; margin-top: 2% !important;
            border-color: #0b2089;">
              S'inscrire
            </button>

          </ng-template>
          <!-- <button nbButton fullWidth outline [routerLink]="['/auth/login']" routerLinkActive="router-link-active"
            status="primary" size="large" class="btnRegister">
            Connexion
          </button> -->
          <span *ngIf="authFailed" style="color: gray;    font-weight: bold;">
            Matricule ou bien mot de passe est incorrect!</span>
        </form>
      </div>
    </div>
  </nb-layout-column>
  <nb-layout-column>
    <div class="fondecran">
    </div>
  </nb-layout-column>
  <!-- </div> -->
  <!-- </div> -->
</nb-layout>
