<!-- <ng-template [ngIf]="section === '1'"> -->
  <!-- <h5 class="text-white">1) Information générale</h5> -->
  <hr>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-control-group">
        <!-- <input type="button" fullWidth nbButton value="stagiaire" (click)="changeRole($event)" id="2"
          status="primary" size="large" class="btnStagiaire"> -->
        <!-- <br> -->
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-control-group">
        <!-- <input type="button" fullWidth nbButton value="condidat" (click)="changeRole($event)" id="2"
          status="primary" size="large" class="btnCondidat"> -->
      </div>
    </div>
  </div>
<!-- </ng-template> -->
