<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
></p-confirmDialog>
<h4
  *ngIf="!displayAddNewSkillModal"
  style="
    background: #e7e8e8;
    padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;
    margin-left: 10px;
  "
>
  Gestion des compétences
</h4>

<div
  *ngIf="!displayAddNewSkillModal"
  class="card"
  style="
    margin: auto;
    margin-top: 3%;
    border-color: #e7e8e8 !important;
    border: solid;
  "
>
  <p-table
    #dt
    [value]="skillList"
    dataKey="skillId"
    styleClass="p-datatable-customers"
    [rowHover]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 15]"
    [loading]="loading"
    [paginator]="true"
    currentPageReportTemplate=""
    [filterDelay]="0"
    [globalFilterFields]="[
      'skillLabel',
      'skillCode',
      'skillDetails',
      'skillsGroup'
    ]"
    [(selection)]="selectedskills"
    selectionMode="single"
  >
    <ng-template pTemplate="caption">
      <div>
        <div
          class="p-d-flex p-ai-center p-jc-between"
          style="width: 55%; display: inline-block"
        >
          <span class="p-input-icon-left" style="width: 100%">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              style="width: 93%"
              class="searchInput, p-inputtext"
              (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Chercher d'une compétence.."
            />
          </span>
        </div>

        <div style="float: right">
          <div style="display: flex">
            <button
              pButton
              pRipple
              label="Ajouter"
              icon="pi pi-plus"
              class="primaryBtn"
              (click)="addNewSkill()"
              style="margin-right: 10px"
            ></button>
            <p-fileUpload
            #form
            id="upload"
            mode="basic"
            icon="pi pi-file-excel"
            [showCancelButton]="true"
            accept=".xls,.xlsx"
            [maxFileSize]="1000000"
            label="Choose"
            chooseLabel="Choisir un fichier Excel à importer"
            styleClass="primaryBtn"
            style="margin-right: 10px"
            (onSelect)="selectFile($event, form)"
            (onBeforeUpload)="clear($event)"
          ></p-fileUpload>
            <button *ngIf="showImportButton" pButton pRipple label="Importer" icon="pi pi-file-excel" class="primaryBtn"
            (click)="importer()"></button>



            
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr style="text-align: center; font-size: 15px">
        <th style="width: 3rem"></th>

        <th
          pSortableColumn="skillLabel"
          style="text-align: center; font-size: 13px; width: 25%"
        >
          Libellé 
        </th>
        <th
        pSortableColumn="skillCode"
        style="text-align: center; font-size: 13px; width: 10%"
      >
        Code 
      </th>
        <th
          pSortableColumn="skillLabel"
          style="text-align: center; font-size: 13px; width: 20%"
        >
          Famille 
        </th>
        <th
          pSortableColumn="skillDetails"
          style="text-align: center; font-size: 13px; width: 30%"
        >
          Détails 
        </th>
<!-- 
        <th
          pSortableColumn="createdAt"
          style="text-align: center; font-size: 13px; width: 15%"
        >
          Date de création <p-sortIcon field="createdAt"></p-sortIcon>
        </th>
        <th
          pSortableColumn="updatedAt"
          style="text-align: center; font-size: 13px; width: 15%"
        >
          Date de modification <p-sortIcon field="updatedAt"></p-sortIcon>
        </th>
        -->
        <th style="text-align: center; font-size: 13px; width: 15%">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-skill let-expanded="expanded">
      <tr
        name="skill"
        id="skillId"
        class="p-selectable-row"
        style="text-align: center; font-size: 13px"
        [pSelectableRow]="skill"
      >
        <td>
          <i
            *ngIf="!expanded"
            [pRowToggler]="skill"
            class="pi pi-chevron-right"
          ></i>
          <i
            *ngIf="expanded"
            [pRowToggler]="skill"
            class="pi pi-chevron-down"
          ></i>
        </td>

        <td style="text-align: center; font-size: 13px">
          {{ skill.skillLabel }}
        </td>
        <td style="text-align: center; font-size: 13px">
          {{ skill.skillCode }}
        </td>
        <td style="text-align: center; font-size: 13px">
          {{ skill.skillsGroup.skillsGroupLabel }}
        </td>
        
        <td style="text-align: center; font-size: 13px">
          {{ skill.skillDetails }}
        </td>
        <!-- 
        <td style="text-align: center; font-size: 13px">
          {{ skill.createdAt }}
        </td>
        <td style="text-align: center">
          {{ skill.updatedAt }}
        </td>
-->
        <td style="text-align: center">
          <div>
            <div
              style="
                float: left;
                background-color: #960032;
                color: white;
                width: 20px;
                height: 20px;
                border-radius: 40%;
                margin-right: 7px;
                margin-top: -3px;
              "
              ngbTooltip="{{ skill.subSkills.length }} sous compétence(s)"
            >
              {{ skill.subSkills.length }}
            </div>
            <i
              placement="top"
              ngbTooltip="Modifier"
              class="pi pi-pencil"
              style="margin-right: 7px"
              (click)="editSkill(skill)"
            ></i>
            <i
              placement="top"
              ngbTooltip="Supprimer"
              class="pi pi-trash"
              (click)="deleteSkill(skill)"
              style="margin-right: 7px"
            ></i>

            <i
              placement="top"
              ngbTooltip="Ajouter une sous compétence"
              class="pi pi-plus"
              style="margin-right: 7px; color: #960032"
              (click)="addsubskill(skill)"
            ></i>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-skill>
      <tr>
        <td colspan="5">
          <div class="p-p-3">
            <p-table
              [value]="skill.subSkills"
              dataKey="skill.subSkills.subSkillId"
            >
              <ng-template pTemplate="header">
                <tr style="text-align: center">
                  <th pSortableColumn="subSkillLabel" 
                      style="width: 15%; font-size: 12px; text-align: center">
                    Libélle
                  </th>
                  <th pSortableColumn="subSkillCode" style="width: 15%; font-size: 12px; text-align: center">
                    Code
                  </th>
                  <th pSortableColumn="subSkillDetails"  style="width: 40%; font-size: 12px; text-align: center">
                    Details
                  </th>
                  
                  <th style="text-align: center; font-size: 13px; width: 10%">
                    Action
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-subSkill>
                <tr style="font-size: 12px; text-align: center">
                  <td>{{ subSkill.subSkillLabel }}</td>
                  <td>{{ subSkill.subSkillCode }}</td>

                  <td>{{ subSkill.subSkillDetails }}</td>

                  <td style="text-align: center">
                    <div>
                      <i
                        placement="top"
                        ngbTooltip="Modifier"
                        class="pi pi-pencil"
                        style="margin-right: 7px"
                        (click)="editsubSkill(subSkill)"
                      ></i>
                      <i
                        placement="top"
                        ngbTooltip="Supprimer"
                        class="pi pi-trash"
                        (click)="deletesubSkill(subSkill)"
                      ></i>
                    </div>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr style="font-size: 13px; text-align: left !important;">
                  <td colspan="5" style="font-size: 13px; text-align: left !important;">
                    Aucune sous compétence trouvée pour cette compétence!.
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr style="font-size: 13px; text-align: left !important">
        <td colspan="6" style="font-size: 13px; text-align: left !important">Aucun compétence trouvée!</td>
      </tr>
    </ng-template>
  </p-table>
</div>


<ngx-add-new-skill *ngIf="displayAddNewSkillModal" [skillsGroupList]="skillsGroupList" [titleHeadersubSkill]="titleHeadersubSkill" [skill]="skill"
  (cancelEvent)="hideAddNewSkillModal()" (deleteSkillEvent)="deleteSkill($event)" (addNewSkillsGroupEvent)="saveNewSkill($event)">
</ngx-add-new-skill>
<p-dialog
  header="Supprimer une  compétence"
  [(visible)]="displayDeleteSkillModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <br />
  Voulez-vous vraiment supprimer la compétence
  <span class="customer-badge status-negotiation">{{ skill.skillLabel }}</span>
  ?
  <ng-template pTemplate="footer">
    <div style="margin-top: 20px">
      <button
        pButton
        pRipple
        label="Annuler"
        icon="pi pi-times"
        class="p-button-secondary p-mr-2"
        (click)="displayDeleteSkillModal = false ; initSkill()"
      ></button>

      <button
        pButton
        pRipple
        label="Supprimer"
        icon="pi pi-check"
        class="primaryBtn"
        (click)="delSkill()"
      ></button>
    </div>
  </ng-template>
</p-dialog>
<p-dialog
  header="{{ titleHeadersubSkill }}"
  [(visible)]="showAddSubskillModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <div class="p-grid p-fluid">
    <div style="display: flex">
      <div class="mb-1 col-md-6 col-12">
        <label for="skilllabel" class="p-float-label" style="font-size: 13px"
          >Libellé</label
        >
        <div class="p-inputgroup p-fluid">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>

          <input
            [ngClass]="{
              'is-invalid':
                subSkill.subSkillLabel == null || subSkill.subSkillLabel == '',
              'is-valid':
                subSkill.subSkillLabel != null && subSkill.subSkillLabel != ''
            }"
            type="text"
            class="form-control p-field"
            id="subskilllabel"
            [(ngModel)]="subSkill.subSkillLabel"
            style="font-size: 13px"
          />
        </div>
      </div>
      <div class="mb-1 col-md-6 col-12">
        <label for="subskillcode" class="p-float-label" style="font-size: 13px"
          >Code</label
        >
        <div class="p-inputgroup p-fluid">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>

          <input
            [ngClass]="{
              'is-invalid':
                subSkill.subSkillCode == null || subSkill.subSkillCode == '',
              'is-valid':
                subSkill.subSkillCode != null && subSkill.subSkillCode != ''
            }"
            type="text"
            class="form-control p-field"
            id="subskillcode"
            [(ngModel)]="subSkill.subSkillCode"
            style="font-size: 13px"
          />
        </div>
      </div>
    </div>
    <div style="display: flex">
      <div class="mb-1 col-md-12 col-12">
        <label for="subSkillDetails" class="p-float-label" style="font-size: 13px"
          >Détails</label
        >
        <div class="p-inputgroup p-fluid">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <textarea  type="text"
          class="form-control p-field"
          id="subSkillDetails"
          [(ngModel)]="subSkill.subSkillDetails"
          style="font-size: 13px" rows="3"></textarea>
        </div>
      </div>
     
    </div>
  </div>
  <div style="margin-top: 10px;">
    <p-panel header="Ajouter ou modifier les niveaux de compétences" >
      <div class="p-inputgroup p-fluid">
        <input
          style="margin-left: 20px"
          style="font-size: 13px"
          
          pInputText
          type="text"
          placeholder="Ajouter un  niveau de compétence"
          class="form-control p-field"
          [(ngModel)]="skillLevel.skillLevelLabel"
        />
        <button
          pButton
          ngbTooltip="Ajouter"
          pRipple
          icon="pi pi-plus"
          class="p-button-rounded p-mr-2"
          style="
            margin-left: 13px;
            background-color: #960032;
            border-color: #960032;
          "
          [disabled]="checkskillLevelValid()"
          [ngClass]="{ disabled: checkskillLevelValid() }"
          (click)="addskillLevel()"
        ></button>
      </div>
      <br />
      <div
        class="mb-1 col-md-12 col-12"
        cdkDropList
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box"
          cdkDrag
          *ngFor="let level of subSkill.skillLevels"
        >
          {{ level.skillLevelLabel }}

          <div style="display: flex">
            <i
              placement="top"
              ngbTooltip="Supprimer"
              class="pi pi-trash"
              style="color: #960032"
              (click)="deleteskillLevel(level)"
            ></i>
          </div>
        </div>
      </div>
      </p-panel>
  </div>
  

  <ng-template pTemplate="footer">
   
    <div style="margin-top: 20px;">
      <button  pButton pRipple label="Annuler" icon="pi pi-times" class="btn btn-secondary" (click)="showAddSubskillModal=false;initSubSkill"></button>
      <button  *ngIf="!modif" [disabled]="subSkill.subSkillLabel == null  || subSkill.subSkillLabel =='' ||
      subSkill.subSkillCode == null  || subSkill.subSkillCode ==''"
      pButton  pRipple label="Valider et ajouter" icon="pi pi-check" class="primaryBtn p-mr-2"
      (click)="validesaveNewSubskill(subSkill , true)"  ></button>
  
      <button  pButton pRipple label="Valider" icon="pi pi-check" class="primaryBtn" 
      [disabled]="subSkill.subSkillLabel == null  || subSkill.subSkillLabel =='' || 
      subSkill.subSkillCode == null  || subSkill.subSkillCode ==''"
    
      (click)="saveNewSubskill(subSkill , false)" style="margin-left: 10px;"></button>
  
  </div>
  </ng-template>
</p-dialog>
