<p-dialog header="{{headerTitle}}" [(visible)]="displayAddUnit" [modal]="true" [style]="{width: '65vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  
        <div  style="display: flex">
             <!--businessLabel-->
            <div class="mb-1 col-md-6 col-12 p-field" *ngIf="businessUnit">
                <label for="businessLabel" class="p-float-label">Dénomination unité <strong style="color: #960032;">*</strong></label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                    <input  type="text"
                            class="form-control p-field"
                            id="businessUnitLabel"
                            [(ngModel)]="businessUnit.businessUnitLabel"
                            [ngClass]="{
                            
                            'is-valid':
                                businessUnit.businessUnitLabel != null && businessUnit.businessUnitLabel !== ''
                            }"/>
                </div> 
            </div> 
             <!--businessUnitManagerName-->
            <div class="mb-1 col-md-6 col-12 p-field">
                <label for="manager" class="p-float-label">Responsable <strong style="color: #960032;">*</strong></label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input
                        type="text"
                        class="form-control p-field"
                        id="manager"
                        [(ngModel)]="businessUnit.businessUnitManagerName"
                        [ngClass]="{
                            
                                'is-valid':
                                businessUnit.businessUnitManagerName != null &&
                                businessUnit.businessUnitManagerName !== ''
                    }"
                    />
                </div>
            </div>
         
        </div>
        <div  style="display: flex">
            <!--businessLabel-->
           <div class="mb-1 col-md-6 col-12 p-field">
                <!--email-->
                <label for="email" class="p-float-label">Email <strong style="color: #960032;">*</strong></label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-check"></i></span>
                    <input
                    type="email"
                    class="form-control"
                    placeholder="-- Email  --"
                    id="email"
                    [(ngModel)]="businessUnit.businessUnitEmail"
                    (change)="validEmail($event)"
                    [ngClass]="{
                    
                    'is-valid':
                    businessUnit.businessUnitEmail != null && businessUnit.businessUnitEmail != ''
                    }" />
                </div>
           </div>
           <!--tel-->
           <div class="mb-1 col-md-6 col-12 p-field">
               
                <label for="tel" class="p-float-label">Téléphone <strong style="color: #960032;">*</strong></label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-check"></i></span>
                    <input
                        type="number"
                        class="form-control"
                        placeholder="-- Téléphone  --"
                        id="tel"
                        [(ngModel)]="businessUnit.businessUnitPhoneNumber"
                        [ngClass]="{
                        
                        'is-valid':
                        businessUnit.businessUnitPhoneNumber != null &&
                        businessUnit.businessUnitPhoneNumber != ''
                        }"
                    />
                </div>
            </div>
        </div>
        <div  style="display: flex">
            <!--businessUnitDescription-->
            <div class="mb-1 col-md-12 col-12 p-field">
                <label for="businessUnitDescription" class="p-float-label">Un petit mot à propos la société (facultatif)</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-list"></i></span>
                    <textarea
                        id="story"
                        name="story"
                        rows="3"
                        class="form-control p-field"
                        pInputText
                        style="width: 100%"
                        id="businessUnitDescription"
                        [(ngModel)]="businessUnit.businessUnitDescription"
                        [ngClass]="{
                            
                            'is-valid':
                            businessUnit.businessUnitDescription != null && businessUnit.businessUnitDescription != ''
                        }"
                        ></textarea>
                </div>
            </div>
        
        </div>
    


        <ng-template pTemplate="footer">
            <div style="margin-top: 20px;">
                <button
                    pButton
                    pRipple
                    label="Annuler"
                    icon="pi pi-times"
                    class="btn btn-secondary"
                    (click)="cancel()">
                </button>

                <button
                    [disabled]="checkBusinessUnitValid()"
                
                    pButton
                    pRipple
                    label="Enregistrer"
                    icon="pi pi-check"
                    class="primaryBtn"
                    (click)="saveBusinessUnit()"
                    style="margin-left: 10px">
                </button>
            </div>
        </ng-template>
</p-dialog>