<h4 style="
    background: #e7e8e8;
    padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;
    margin-left: 10px;
  ">
  Fiche fonction
</h4>
<div style="margin-bottom: 3%; display: flex; justify-content: flex-end">

<button  pButton pRipple label="Révenir à la liste de position" icon="pi pi-times"
         class="btn btn-secondary btn_stepper next" (click)="retour()"
         style="margin-right: 10px;height:40px;"></button>
  </div>

<div  class="card"
      style="
  margin: auto;
  margin-top: 3%;
  border-color: #e7e8e8 !important;
  border: solid;
  height:100% !important;
">

  <table class="m-1">
    <tr>
      <td rowspan="2" colspan="2" style="font-weight: bold;">Logos société</td>
      <td colspan="5" style="font-weight: bold;">Fiche de Fonction</td>
      <td colspan="2" style="text-align: left !important;">Référence: {{functionCard.reference}}</td>
    </tr>
    <tr>
      <td colspan="5" >{{functionCard.positionLabel}}</td>
      <td colspan="2" style="text-align: left!important;">Indice de révision: {{functionCard.revisionIndice}}</td>
    </tr>
    <tr>
      <td colspan="9" style="background:#8497B0;font-weight: bold;">Identification de la position</td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: left!important;background:#F2F2F2">Département </td>
      <td colspan="3" style="text-align: left!important;">{{functionCard.departement}}</td>
      <td colspan="2" style="text-align: left!important;background:#F2F2F2">Responsable Hiérarchique</td>
      <td colspan="2" style="text-align: left!important;">{{functionCard.hierarchicalManager}}</td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: left!important;background:#F2F2F2">Titulaire de la position</td>
      <td colspan="3" style="text-align: left!important;"></td>
      <td colspan="2" style="text-align: left!important;background:#F2F2F2">Responsable Fonctionnel</td>
      <td colspan="2" style="text-align: left!important;">{{functionCard.functionalManager}}</td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: left!important; background:#F2F2F2">Intérimaire de la position</td>
      <td colspan="3" style="text-align: left!important;"></td>
      <td colspan="2" style="text-align: left!important;background:#F2F2F2">Nombre de positions  sous sa responsabilité</td>
      <td colspan="2" style="text-align: center!important;">{{functionCard.subPositionNumber}}</td>
    </tr>

    <tr>
      <td colspan="9" style="background:#8497B0;font-weight: bold;">Pour Approbation</td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="3" style="background:#F2F2F2">Rédaction</td>
      <td colspan="2" style="background:#F2F2F2">Vérification</td>
      <td colspan="2" style="background:#F2F2F2">Approbation</td>
    </tr>

    <tr>
      <td colspan="2" style="background:#F2F2F2;text-align: left!important;">Responsable</td>
      <td colspan="3">Individu</td>
      <td colspan="2"></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td colspan="2" style="background:#F2F2F2;text-align: left!important;">Fonction</td>
      <td colspan="3"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td colspan="2" style="background:#F2F2F2;text-align: left!important;">Date</td>
      <td colspan="3"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td colspan="2" style="background:#F2F2F2;text-align: left!important;">Visa</td>
      <td colspan="3">Validation electroniuque</td>
      <td colspan="2"></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td colspan="9" style="background:#8497B0;font-weight: bold;">Historique des modifications</td>
    </tr>
    <tr>
      <td colspan="1" style="background:#F2F2F2">Indice</td>
      <td colspan="1" style="background:#F2F2F2">Date</td>
      <td colspan="1" style="background:#F2F2F2">Etape</td>
      <td colspan="2" style="background:#F2F2F2">Auteur</td>
      <td colspan="4" style="background:#F2F2F2">Nature de changement</td>
    </tr>
    <tr>
    <td colspan="1">00</td>
    <td colspan="1">21/03/2021</td>
    <td colspan="1">0</td>
    <td colspan="2">Zénith</td>
    <td colspan="4">Création du document</td>
  </tr>
    <tr>
      <td colspan="9" style="background:#8497B0;font-weight: bold;">Indicateurs clés de performance</td>
    </tr>
    <tr>
      <td colspan="5" style="background:#F2F2F2">KPI</td>
      <td colspan="2" style="background:#F2F2F2">Fréquence</td>
      <td colspan="2" style="background:#F2F2F2"></td>
    </tr>
    <tr>
      <td colspan="5"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td colspan="9" style="background:#8497B0;font-weight: bold;">Définition de la position</td>
    </tr>
    <tr>
      <td colspan="1" style="background:#F2F2F2;text-align: left!important;font-weight: bold;">Mission</td>
      <td colspan="8" style="text-align: left!important;">{{functionCard.mission}}</td>
    </tr>
    <tr>
      <td colspan="1" style="background:#F2F2F2;text-align: left!important;font-weight: bold;">Attributions</td>
      <td colspan="8"  style="text-align: left!important;">
        <span *ngFor="let attribution of functionCard.attributionList">- {{attribution.attributionLabel}} </span><br>
      </td>
    </tr>
     <tr>
      <td colspan="1" style="background:#F2F2F2;text-align: left!important;font-weight: bold;">Formation</td>
      <td colspan="8" style="text-align: left!important;">
          {{functionCard.formation}}
      </td>
    </tr>

    <tr>
      <td colspan="1" style="background:#F2F2F2;text-align: left!important;font-weight: bold;">Compétences Techniques et Fonctionnelles</td>
      <td colspan="8" style="text-align: left!important;">
        Maitrise des logiciels CAO et métier (LECTRA/GERBER)  , connaissance des caractéristiques techniques de différents supports textile (Tissu, tricot, non-tissé) , des règles HSE, Standards Qualité & Normes  dans le secteur textile, Gestion de projet, Gestion des risques, Techniques & Outils d'amélioration continue et de Résolution de problème, Systèmes d’information génériques et spécifiques, Outils de l’informatique bureautique (Excel, Power point, Word), Français parfait, Anglais professionnel.
      </td>
    </tr>
    <tr>
      <td colspan="1" style="background:#F2F2F2;text-align: left!important;font-weight: bold;">Expérience requise</td>
      <td colspan="8" style="text-align: left!important;">
        {{functionCard.experience}}
      </td>
    </tr>
  </table>

</div>
