.paid-green{
    height: 25px;
    width: 25px;
    background-color: #4dbd4d;
    border-radius: 50%;
    display: inline-block;
}
.paid-black{
    height: 70px;
    width: 70px;
    background-color: #B5B7B8;
    border-radius: 50%;
    display: inline-block;

}
.in-progress-orange{
    height: 25px;
    width: 25px;
    background-color: #E65100;
    border-radius: 50%;
    display: inline-block;
}
.not-paid-red{
    height: 25px;
    width: 25px;
    background-color: #ff1a1a;
    border-radius: 50%;
    display: inline-block;
}
.exemple1 {
    width:200px;
    clip-path:ellipse(50% 50%);
 }
 .exemple2 {
    width:2px;
    clip-path:ellipse(50% 50%);
 }
 .pad{
     text-align: center;
    font-size: 30px;
    padding-top:22px;
    color: #ffff
 }