<h4 style="
    background: #e7e8e8;
    padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;
    margin-left: 10px;
  ">
  Assigner des compétences aux unités organisationelles et positions
</h4>

<div class="card"
  style="
    margin: auto;
    margin-top: 3%;
    border-color: #e7e8e8 !important;
    border: solid;
  ">
  <p-tabView>
    <p-tabPanel header="Unités organisationnelles">
      <p-table #dt [value]="businessUnitSKills" dataKey="businessUnit.businessUnitId" styleClass="p-datatable-customers"
               [rowHover]="true" [rows]="10" [rowsPerPageOptions]="[10, 15]" [loading]="loading"
               [paginator]="true" [filterDelay]="0" [globalFilterFields]="['buisnessUnitLabel']">

        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between" style="width: 60%; display: inline-block">
            <span class="p-input-icon-left" style="width: 100%">
              <i class="pi pi-search"></i>
              <input pInputText type="text" style="width: 93%" class="searchInput, p-inputtext"
                     (input)="dt.filterGlobal($event.target.value, 'contains')"
                     placeholder="Chercher une unité fonctionnelle.." />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr style="text-align: center; font-size: 15px">
            <th style="text-align: left; font-size: 13px; width: 30% ">Libélle</th>
            <th style="text-align: center; font-size: 13px;  width: 60%">Compétances assignées</th>
            <th style="text-align: center; font-size: 13px;  width: 10%">Action</th>

          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-businessUnitSKill let-expanded="expanded">

          <tr class="p-selectable-row" style="text-align: center; font-size: 13px" [pSelectableRow]="businessUnitSKill"
              name="businessUnitSKill" id="businessUnitSKill.businessUnitId">

            <td style="text-align: left !important;
      padding: 10px 10px 10px 10px !important;
      font-size: 13px !important;
      color: #222b45;
      margin-left: 10px;
      font-weight: bold;">
              {{ businessUnitSKill.buisnessUnitLabel}}
            </td>
            <td style="text-align:left !important">
          <tr>
            <span *ngFor="let subSkill of businessUnitSKill.assignedSkills" class="customer-badge assignedSkill" style="margin-right: 3px">
              {{subSkill.subSkillLabel}}
            </span>
          </tr>
          </td>
          <td>
            <i placement="top" ngbTooltip="Modifier" class="pi pi-pencil" style="margin-right: 7px"
               (click)="AddSkillBusinessUnit(businessUnitSKill)"></i>
          </td>
          </tr>
        </ng-template>
        <!-- <ng-template pTemplate="rowexpansion" let-businessUnitSKill>
          <tr>
            <td colspan="5">
              <div class="p-p-3">
                <p-table #dt [value]="businessUnitSKill.skillGroupList" dataKey="id" styleClass="p-datatable-customers">
                  <ng-template pTemplate="header">
          <tr style="text-align: center; font-size: 15px">
            <th style="text-align: left; font-size: 13px; width: 40% ">Famille de compétence</th>
            <th style="text-align: center; font-size: 13px;  width: 60%"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-skillsGroup>

          <tr class="p-selectable-row" style="text-align: center; font-size: 13px" [pSelectableRow]="skillsGroup"
            name="skillsGroup" id="id">
            <td style="text-align: left !important;
                  padding: 10px 10px 10px 10px !important;
                  font-size: 13px !important;
                  color: #222b45;
                  margin-left: 10px;
                  font-weight: bold;">
              {{ skillsGroup.label}}
            </td>
            <td>
              <p-autoComplete [group]="true" [suggestions]="skillList" [multiple]="true" optionGroupLabel="skillLabel"
                optionGroupChildren="subSkills" (completeMethod)="filterSkills($event,skillsGroup)" field="subSkillLabel"
                (onSelect)="onSelectSubSKill($event,businessUnitSKill.businessUnit,skillsGroup)" [dropdown]="true"
                [(ngModel)]="skillsGroup.skillDtoList" [inputStyle]="{'width':'800px'}">
                <ng-template let-group pTemplate="group">
                  <div class="p-d-flex p-ai-center">
                    <span>{{group.skillLabel}}</span>
                  </div>
                </ng-template>
              </p-autoComplete> -->
        <!--    <p-autoComplete [group]="true" [suggestions]="skillList" (completeMethod)="filterSkills($event,skillsGroup)" field="skillLabel" [multiple]="true" [dropdown]="true">
                  <ng-template let-group pTemplate="group"
                  [(ngModel)]="selectedSkills">
                      <div class="p-d-flex p-ai-center">
                          <span>{{group.label}}</span>
                      </div>
                  </ng-template>
              </p-autoComplete> -->
        <!-- </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr style="font-size: 13px">
              <td colspan="8" style="text-align: left !important">
                Aucune famille de compétence trouvé!
              </td>
            </tr>
          </ng-template>
        </p-table>
        </div>
        </td>
        </tr>
        </ng-template> -->
        <ng-template pTemplate="emptymessage">
          <tr style="font-size: 13px">
            <td colspan="8" style="text-align: left !important">
              Aucune unité fonctionnelle trouvée!
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
    <p-tabPanel header="Positions">
        <p-table #dt [value]="positionsSKills" dataKey="positionId" styleClass="p-datatable-customers" [rowHover]="true"
                 [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 15]" [paginator]="true"
                 currentPageReportTemplate="" [filterDelay]="0">
          <ng-template pTemplate="caption">
            <div>
              <div class="p-d-flex p-ai-center p-jc-between" style="width: 60%; display: inline-block">
                <span class="p-input-icon-left" style="width: 100%">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" style="width: 93%" class="searchInput, p-inputtext"
                         (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Chercher une position.." />
                </span>
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr style="text-align: center; font-size: 15px">
              <th style="text-align: center; font-size: 13px; width: 3rem"></th>
              <th style="text-align: left; font-size: 13px; width: 90%" pSortableColumn="positionLabel">
                Position
              </th>
              <th style="text-align: center; font-size: 13px; width: 10%"></th>
              <th style="text-align: center; font-size: 13px; width: 10%"></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-position let-expanded="expanded">
            <tr class="p-selectable-row" style="text-align: center; font-size: 13px" [pSelectableRow]="position"
                name="position" id="positionId">
              <td>
                <i *ngIf="!expanded" [pRowToggler]="position" class="pi pi-chevron-right"></i>
                <i *ngIf="expanded" [pRowToggler]="position" class="pi pi-chevron-down"></i>
              </td>
              <td style="text-align: left !important;
        padding: 10px 10px 10px 10px !important;
        font-size: 13px !important;
        color: #222b45;
        margin-left: 10px;
        font-weight: bold;">
                {{ position.positionLabel }}
              </td>
              <td>
                <div style="
                float: left;
                background-color: #960032;
                color: white;
                width: 20px;
                height: 20px;
                border-radius: 40%;
                margin-right: 7px;
                margin-top: -3px;
              " ngbTooltip="{{ position.nbSKills }} compétence(s) assignées">
                  {{ position.nbSKills }}
                </div>
              </td>
              <td style="text-align: center">
                <i placement="top" ngbTooltip="Configuration avancée" class="pi pi-cog"
                   (click)="showAddSkillsAttributionWindow(position)"></i>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-position>
            <tr>
              <td colspan="5">
                <div class="p-p-3">
                  <p-table [value]="position.assignedGroups" dataKey="position.assignedGroups.skillsGroupId">
                 <!--   <ng-template pTemplate="header">
            <tr style="text-align: center; font-size: 13px">
            <th style="
                      text-align: left !important;
                      font-size: 13px;
                      width: 22%;
                    ">
              Famille
            </th>
            <th style="
                      text-align: left !important;
                      font-size: 13px;
                      width: 25%;
                    ">
                Compétence
              </th>
              <th style="text-align: center; font-size: 13px; width: 20%">
                Niveau réquis
              </th>
            <th style="text-align: center; font-size: 13px; width: 13%">
              Evalué
            </th>
              <th style="width: 10%; font-size: 13px; text-align: center"></th>
            </tr>

            <tr>
              <th style="font-size: 13px">
                <select class="form-control p-field" id="requiredLevel" name="side" [(ngModel)]="attributionSubSkill.skillsGroup"
                        style="font-size: 13px" [compareWith]="compareSkillGroup">
                  <option *ngFor="let group of position.availableSkills" [ngValue]="group">
                    {{ group?.skillsGroupLabel }}
                  </option>
                </select>
              </th>
              <th style="font-size: 13px">
                <select class="form-control p-field" id="requiredLevel" name="side" [(ngModel)]="attributionSubSkill.subSkill"
                        style="font-size: 13px" [compareWith]="compareSkillLevel">
                  <option *ngFor="let subSkill of attributionSubSkill.skillsGroup?.subSkills" [ngValue]="subSkill">
                    {{ subSkill?.subSkillLabel }}
                  </option>
                </select>
              </th>
              <th style="font-size: 13px">
                <select class="form-control p-field" id="requiredLevel" name="side" [(ngModel)]="attributionSubSkill.requiredLevel"
                        style="font-size: 13px" [compareWith]="compareSkillLevel">
                  <option *ngFor="let level of attributionSubSkill.subSkill?.skillLevels" [ngValue]="level">
                    {{ level?.skillLevelLabel }}
                  </option>
                </select>
              </th>
              <th style="font-size: 13px; text-align: center !important;">
                <p-checkbox name="groupname" binary="true" [(ngModel)]="attributionSubSkill.isEvaluated"></p-checkbox>
              </th>
              <th style="text-align: center">
                <button pButton placement="top" ngbTooltip="Ajouter" pRipple icon="pi pi-plus"
                        class="p-button-rounded p-mr-2" style="background-color: #960032; border-color: #960032"
                        [disabled]="checkValidPositionSubSkill(position)"
                        [ngClass]="{ disabled: checkValidPositionSubSkill(position) }"
                        (click)="savePositionSubSkill(position)"></button>
              </th>
            </tr>
          </ng-template>
          -->
          <ng-template pTemplate="body" let-assignedGroup let-rowIndex="rowIndex">
            <tr>
              <td style="text-align:left !important; font-size: 13px;font-weight: bold" colspan="4">{{assignedGroup.skillsGroupLabel}}</td>
            </tr>
            <tr *ngFor="let positionSubSKill of assignedGroup.assignedSkills" class="p-selectable-row" style="text-align: center; font-size: 13px">
              <td colspan="1" pEditableColumn style="text-align: left !important; font-size: 13px">
                {{ positionSubSKill.subSkill.subSkillLabel }}
              </td>
              <td></td>
              <td pEditableColumn style="text-align: center !important; font-size: 13px">
                      {{ positionSubSKill.requiredLevel.skillLevelLabel }}
              </td>
              <td pEditableColumn style="text-align: center !important; font-size: 13px">
                    <span *ngIf="positionSubSKill.isEvaluated" class="customer-badge evaluated">
                      A EVALUER
                    </span>
                    <span *ngIf="! positionSubSKill.isEvaluated" class="customer-badge low">
                      A PAS EVALUER
                    </span>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr style="font-size: 13px">
              <td colspan="8" style="text-align: left !important">
                Aucune compétence a été ajoutée pour cette position!
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      </td>
      </tr>
      </ng-template>
      </p-table>
  </p-tabPanel>
</p-tabView>


  </div>






<!-- modal d'affectation de competences aux unités organisationelles -->
<p-dialog header="Affecter des compétances à une unité organisationnelles" [(visible)]="displayAddSkillsBusinessUnit" [modal]="true"
          [style]="{width: '80vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

  <ng-template style="margin-top: 40px;" pTemplate="body">
    <p-tabView>
      <p-tabPanel *ngFor="let skillsGroup of assignedSkillsToBuisnessUnit" header="{{skillsGroup.skillsGroupLabel}}">
        <p-pickList [source]="skillsGroup.availableSkills" [target]="skillsGroup.assignedSkills"
                    sourceHeader="Compétences disponibles" targetHeader="Compétences assignées" [dragdrop]="true"
                    [responsive]="true" [sourceStyle]="{'height':'10rem'}" [targetStyle]="{'height':'10rem'}" filterBy="subSkillLabel">
          <ng-template let-skill pTemplate="item">
            <div>

              <div>
                <i class="pi pi-circle-on"></i>
                <span style="margin-left: 3px">{{skill.subSkillLabel}} [ {{skill.subSkillCode}} ]</span>

              </div>
            </div>
          </ng-template>
        </p-pickList>
      </p-tabPanel>

    </p-tabView>





  </ng-template>


  <ng-template pTemplate="footer">
    <div style="margin-top: 20px;">
      <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-secondary p-mr-2"
              (click)="cancelEditSkillsForBuisnessUnit()"></button>

      <button pButton pRipple label="Valider" icon="pi pi-check" class="primaryBtn"
              (click)="validateSubSkillsModification()"></button>

    </div>
  </ng-template>
</p-dialog>


<!-- modal d'affectation de competences aux attributions d'une position -->
<p-dialog header="Affecter des compétances aux attributions" [(visible)]="displayAddSkillsAttribution" [modal]="true"
          [style]="{width: '80vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

  <ng-template style="margin-top: 40px;" pTemplate="body">
<ngx-add-skill-to-attribution [position]="positionToDisplay">

</ngx-add-skill-to-attribution>
  </ng-template>


</p-dialog>
<p-dialog header="Aucune attribution assigné" [(visible)]="displayAucuneAttribution" [modal]="true"
          [style]="{width: '80vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <ng-template style="margin-top: 40px;" pTemplate="body">
  Aucune attribution a été assignée à cette position.
  Merci d'assigner des attributions à cette position pour que vous puissez affecter des compétences à ces attributions.
  </ng-template>
</p-dialog>
