
<mat-horizontal-stepper>

    <mat-step label="Informations génerales">
        <div style="display: flex;">
        <div class="mb-1 col-md-6 col-6">
            <label for="companyLabel" class="p-float-label">Dénomination Societe <strong style="color: #960032;">*</strong></label>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                <input  type="text"
                        class="form-control p-field"
                        id="companyLabel"
                        [(ngModel)]="company.companyLabel"
                        />
            </div>   
        </div>      
        <div class="mb-1 col-md-6 col-6">
            <label for="identifiant" class="p-float-label" >Identifiant unique <strong style="color: #960032;">*</strong></label>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                <input
                    type="text"
                    class="form-control p-field"
                    id="identifiant"
                    [(ngModel)]="company.companyUniqueIdentifier"
                    />
            </div>
        </div>
        </div>
        <div class="p-col-12 mb-1 col-md-12 p-field">
            <label for="manager" class="p-float-label">Responsable <strong style="color: #960032;">*</strong></label>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input
                    type="text"
                    class="form-control p-field"
                    id="manager"
                    [(ngModel)]="company.companyManagerName"
                    
                />
            </div>
        </div> 
        
        <div class="p-col-12 mb-1 col-md-12 p-field">
            <label for="companyDescription" class="p-float-label">Un petit mot à propos la société</label>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-list"></i></span>
                <textarea
                    id="story"
                    name="story"
                    rows="3"
                    class="form-control p-field"
                    pInputText
                    style="width: 100%"
                    id="companyDescription"
                    [(ngModel)]="company.companyDescription"
                    
                    ></textarea>
            </div>
        </div>
        <div  class="p-col-12 mb-1 col-md-12 p-field">
            <button mat-button matStepperNext class="nav_btn" style="float: right;margin-top: 15px;">Suivant</button>
        </div>
    </mat-step>
  
    <mat-step label="Coordonnées">
        
        <div class="mb-1 col-md-12 col-12 p-field row">
            <div class="mb-1 col-md-6 col-6">
                <label for="tel" class="p-float-label">Téléphone <strong style="color: #960032;">*</strong></label>
                <div class="p-inputgroup" >
                    <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                    <input style="padding-left: 33%;
                    padding-right: 14%;" type="text" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'tn'}"
                    (hasError)="hasError($event)" (ng2TelOutput)="getNumber($event)"
                    (intlTelInputObject)="telInputObject($event)" (countryChange)="onCountryChange($event)"
                    class="form-control p-field" id="tel"  placeholder="-- Téléphone  --"  [(ngModel)]="company.companyPhoneNumber"
                    (keyup)="CheckTelHasError=null" [ngClass]="{
                                'is-valid': CheckTelHasError==true && company.companyPhoneNumber!=null ,
                                'is-invalid': CheckTelHasError==false && company.companyPhoneNumber!= phone
                            }" />
                </div>

            </div>

            <div class="mb-1 col-md-6 col-6" style="padding: 0px;">
                <label for="mail" class="p-float-label">Email <strong style="color: #960032;">*</strong></label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-check"></i></span>
                    <input
                    type="email"
                    class="form-control"
                    placeholder="-- Email  --"
                    id="mail"
                    [(ngModel)]="company.companyEmail"
                           
                    pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" (keyup)="validEmail()" required
                    [ngClass]="{
                        'is-invalid' : checkEmail== false ,
                'is-valid': checkEmail== true && company.companyEmail!=null
              }" />
                </div>
            </div>
        </div>
        
        <div class="mb-1 col-md-12 col-12 p-field row" >
            <div class="mb-1 col-md-6 col-6" >
                <label for="companyCountry" class="p-float-label"> Pays<strong style="color: #960032;">*</strong></label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-flag"></i></span>
                    <select [(ngModel)]="company.companyCountry"  style="height: 33.5px;"
                        class="browser-default custom-select" 
                        (change)="changeCountry($event.target.value)"
                        >
                            <option *ngFor ="let count of countriesList" > {{count.name}} </option>
                    </select>
                </div>
            </div>
            <div class="mb-1 col-md-6 col-6 " style="padding: 0px;">
                <label for="companyCity" class="p-float-label"> Ville <strong style="color: #960032;">*</strong></label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-home"></i></span>
                    <select 
                        [(ngModel)]="company.companyCity"  
                        style="height: 33.5px;"
                        class="browser-default custom-select"
                        >
                        <option *ngFor ="let city of cities" >{{city.name}} </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="p-col-12 mb-1 col-md-12 p-field">
            <label for="companyAddress" class="p-float-label">Adresse <strong style="color: #960032;">*</strong></label>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                <textarea
                    id="story"
                    name="story"
                    rows="3"
                    class="form-control p-field"
                    pInputText
                    style="width: 100%"
                    id="companyAddress"
                    [(ngModel)]="company.companyAddress"
                    [ngClass]="{
                        
                        'is-valid':
                        company.companyAddress != null && company.companyAddress !== ''
                        }"
                ></textarea>
            </div>
        </div>
    
        <div class="p-col-12 mb-1 col-md-12 p-field" style="margin-top: 15px;">
            <button mat-button matStepperNext class="nav_btn" style="float: right;">Suivant</button>
            <button mat-button matStepperPrevious  class="nav_btn" style=" float: left;">Précédent</button>
            
        </div>
    </mat-step>
  
    <mat-step label="Logo">
        <div class="" style="width: 100%; min-height: 250px;">
            <input id="file" #file type="file" accept='image/*' (change)="preview(file.files)" style="display: none" />
            <div style=" text-align: center;">
                <img *ngIf="imgURL" [src]="imgURL" style="width: 35%;
                ">
                <img *ngIf="!imgURL" src="./../../../../assets/images/default_company_logo.jpg" style="width: 35%;
                border-radius: 50%;width: 35%;">
            </div>
            <input type="button" id="loadFile" value="Choisir le logo de votre société" onclick="document.getElementById('file').click();" style="margin-bottom: 2%;" class="primaryBtn"
                style="margin: auto;
                display: table;
                margin-top: 10%;"/>
            
        </div>
        <div style="margin-top: 15px;">
            <button mat-button matStepperPrevious class="nav_btn" style="float: left;">Précédent</button>
            <button
            [disabled]="checkCompanyValid()"
           
            pButton
            pRipple
            label="Enregistrer"
            icon="pi pi-check"
            class="primaryBtn"
            (click)="saveCompany()"
            style="margin-left: 10px;float: right;"
        ></button>
            
           

        
      </div>
    </mat-step>
    
  </mat-horizontal-stepper>
               