.panel-cor  .p-panel.p-component{
    width: 50%!important;

}

.p-panel .p-panel-content{
    height: 820px;
}
.iti.iti--allow-dropdown{
    flex-grow: 1;
}


.nav_btn{
    
    background: #E7E8E8 !important;
   
}
.nav_btn:focus{
    outline: none;
}