<nb-stepper orientation="vertical" [linear]="linearMode">
    <!--Informations génerales-->
    <nb-step label="Informations génerales">
        <div class="step_container" style="padding-top: 30px!important;">
            <div style="display: flex;">
                <div class="mb-1 col-md-6 col-12">
                    <label for="positionLabel" class="p-float-label">Dénomination <strong
                            style="color: #960032;">*</strong></label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                        <input type="text" class="form-control p-field" id="positionLabel"
                            [(ngModel)]="position.positionLabel" />
                    </div>
                </div>
            <div class="mb-1 col-md-6 col-6">

                    <label for="positionCode" class="p-float-label">Code <strong
                            style="color: #960032;">*</strong></label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                        <input type="text" class="form-control p-field" id="positionCode"
                            [(ngModel)]="position.positionCode" />
                    </div>
                </div>
			</div>
            <!-- row 1 -->

            <div style="display: flex;">
                <div class="mb-1 col-md-6 col-6">
                    <label for="identifiant" class="p-float-label">Categorie <strong
                            style="color: #960032;">*</strong></label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                        <select class="form-control p-field" id="positionCategory" name="side"
                            [(ngModel)]="position.positionCategory" style="font-size: 13px"
                            [compareWith]="compareCategory">
                            <option *ngFor="let cat of categories;" [ngValue]="cat">{{cat.positionCategoryLabel}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="mb-1 col-md-6 col-6">
                    <label for="identifiant" class="p-float-label">Société <strong
                            style="color: #960032;">*</strong></label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                        <select class="form-control p-field" id="company" name="side"
                            [(ngModel)]="position.company" style="font-size: 13px"
                            [compareWith]="compareCompany" (change)="getAllUnitsByCompany();getAllPositionsByCompany();">
                            <option *ngFor="let b of companies;" [ngValue]="b">{{b.companyLabel}}</option>
                        </select>
                    </div>
                </div>


            </div>
            <!-- /row 1 -->
            <!-- row 2 -->
            <div style="display: flex;">
                <div class="mb-1 col-md-6 col-6">
                    <label for="identifiant" class="p-float-label">Supérieure hiérarchique </label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                        <select class="form-control p-field" id="hierarchicalManagerPosition" name="side"
                                [(ngModel)]="position.hierarchicalManagerPosition" style="font-size: 13px"
                                [compareWith]="comparePosition"
                                (change)="getAllUnitsByCompany();getUnitByHirarchicalManager(position.hierarchicalManagerPosition)"
                                [disabled]="position.company == null">
                          <option [ngValue]="null">{{position.positionLabel}}</option>
                          <option *ngFor="let p of positions_list;" [ngValue]="p">{{p.positionLabel}}</option>
                        </select>
                    </div>
                </div>
                <div class="mb-1 col-md-6 col-6">
                    <label for="identifiant" class="p-float-label">Unité organisationnelle <strong
                            style="color: #960032;">*</strong></label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                        <select class="form-control p-field" id="businessUnit" name="side"
                            [(ngModel)]="position.businessUnit" style="font-size: 13px"
                            [compareWith]="compareBusinessUnit"
                            [disabled]="position.hierarchicalManagerPosition !=null && position.hierarchicalManagerPosition.positionLabel != 'Racine'">
                            <option *ngFor="let b of businessUnitsList;" [ngValue]="b">{{b.businessUnitLabel}}</option>
                        </select>
                    </div>
                </div>

            </div>
            <!-- /row 2 -->

        </div>
        <button nbButton nbStepperNext class="btn_stepper next" [disabled]="checkGeneralInforValid()">suivant</button>

    </nb-step>
    <!--/Informations génerales-->

    <!--Poids-->
    <nb-step label="Poids de position">
        <div class="col-8 md-8 drop-column scrollable-container" style="height:270px;">
            <p-table #dt [value]="position.evaluationCriteriaList" dataKey="id" styleClass="p-datatable-customers" [loading]="loading"
                [filterDelay]="0">


                <ng-template pTemplate="header">
                    <tr style="text-align: center; font-size: 13px">
                        <th style="text-align: left !important; font-size: 13px; width: 70%">Critère d'evaluation</th>
                        <th style="text-align: center; font-size: 13px; width: 30%">Pondération (%)</th>
                        <th style="text-align: center; font-size: 13px; width: 30%">Note</th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-evaluationP>

                    <tr class="p-selectable-row">
                        <td style="text-align: left !important;font-size: 13px;">
                            {{evaluationP.evaluationCriteria.evaluationCriteriaLabel}}
                        </td>
                        <td style="text-align: center !important;font-size: 13px;">
                            {{evaluationP.evaluationCriteria.evaluationCriteriaPondering}}
                        </td>
                        <td pEditableColumn style="text-align: center">

                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input style="font-size: 13px !important" pInputText type="number" class="form-control p-field"
                                        [(ngModel)]="evaluationP.note">
                                </ng-template>
                                <ng-template pTemplate="output" style="font-size: 13px !important;">
                                    {{evaluationP.note}}
                                </ng-template>
                            </p-cellEditor>
                        </td>

                       <!-- <td style="text-align: center">
                        <div>
                            <i placement="top" ngbTooltip="Supprimer" class="pi pi-trash"
                                (click)="deleteLineCre(line_cre)"></i>
                        </div>
                    </td> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr style="font-size: 13px">
                        <td colspan="8" style="text-align: left !important">
                            Aucun critère trouvé!
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <button nbButton nbStepperPrevious class="btn_stepper prev">précedant</button>
        <button nbButton nbStepperNext class="btn_stepper next">suivant</button>

    </nb-step>
    <!--/Poids-->
    <!--Missions-->
    <nb-step label="Missions">

        <div style="height: 270px;">
            <p-table #dt [value]="position.missions" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
                [loading]="loading" currentPageReportTemplate="" [filterDelay]="0" [globalFilterFields]="">


                <ng-template pTemplate="header">
                    <tr style="text-align: center; font-size: 13px">
                        <th style="text-align: left !important; font-size: 13px; width: 90%">Mission</th>
                        <th style="width: 10%;"></th>
                    </tr>

                    <tr>
                        <th style="font-size: 13px;">


                            <p-autoComplete [(ngModel)]="line_miss" [suggestions]="missionsList"
                                (completeMethod)="filterMissions($event)" field="missionLabel" [dropdown]="true">
                                <ng-template let-country pTemplate="item">
                                    <div class="country-item">
                                        <div>{{country.missionLabel}}</div>
                                    </div>
                                </ng-template>
                            </p-autoComplete>


                        </th>


                        <th>
                            <button pButton placement="top" ngbTooltip="Ajouter" pRipple icon="pi pi-plus"
                                class="p-button-rounded p-mr-2" style="margin-right: 7px;
                                background-color: #960032; border-color: #960032;" [disabled]="checkLineValidMiss()"
                                [ngClass]="{ disabled: checkLineValidMiss() }" (click)="addLineMiss()"></button>
                        </th>
                    </tr>


                </ng-template>

                <ng-template pTemplate="body" let-mission let-index="rowIndex">

                    <tr class="p-selectable-row" style="text-align: center; font-size: 13px">

                        <td pEditableColumn style="text-align: left !important">

                            <p-cellEditor>
                                <ng-template pTemplate="input">


                                    <p-autoComplete  [suggestions]="missionsList" [(ngModel)]="line_miss" (onBlur)="editMission(mission)"
                                        (completeMethod)="filterMissions($event)" field="missionLabel" [dropdown]="true">
                                        <ng-template let-country pTemplate="item">
                                            <div class="country-item">
                                                <div>{{country.missionLabel}}</div>
                                            </div>
                                        </ng-template>
                                    </p-autoComplete>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{mission.missionLabel}}
                                </ng-template>
                            </p-cellEditor>

                        </td>

                        <td style="text-align: center">
                            <div>
                                <i placement="top" ngbTooltip="Supprimer" class="pi pi-trash"
                                    (click)="deleteLineMiss(mission,index)"></i>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr style="font-size: 13px">
                        <td colspan="8" style="text-align: left !important">
                            Aucune mission trouvée!
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <button nbButton nbStepperPrevious class="btn_stepper prev">précedant</button>
        <button nbButton nbStepperNext class="btn_stepper next">suivant</button>






    </nb-step>
    <!--/Missions-->
    <!--Attributions-->
    <nb-step label="Attributions">

        <div style="height: 270px;">
        <p-table #dt [value]="position.attributions" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
            [loading]="loading" [filterDelay]="0">


            <ng-template pTemplate="header">
                <tr style="text-align: center; font-size: 13px">
                    <th style="text-align: left !important; font-size: 13px; width: 90%">Attribution</th>
                    <th style="width: 10%;"></th>
                </tr>

                <tr>
                    <th style="font-size: 13px;">


                        <p-autoComplete [(ngModel)]="line_attr" [suggestions]="attributionList"
                            (completeMethod)="filterAttributions($event)" field="attributionLabel" [dropdown]="true">
                            <ng-template let-attribution pTemplate="item">
                                <div class="attribution-item">
                                    <div>{{attribution.attributionLabel}}</div>
                                </div>
                            </ng-template>
                        </p-autoComplete>


                    </th>


                    <th>
                        <button pButton placement="top" ngbTooltip="Ajouter" pRipple icon="pi pi-plus"
                            class="p-button-rounded p-mr-2" style="margin-right: 7px;
                            background-color: #960032; border-color: #960032;" [disabled]="checkLineValidAttr()"
                            [ngClass]="{ disabled: checkLineValidAttr() }" (click)="addLineAttr()"></button>
                    </th>
                </tr>


            </ng-template>

            <ng-template pTemplate="body" let-attribution let-index="rowIndex">

                <tr class="p-selectable-row" style="text-align: center; font-size: 13px">

                    <td pEditableColumn style="text-align: left !important">

                        <p-cellEditor>
                            <ng-template pTemplate="input">


                                <p-autoComplete  [suggestions]="attributionList"
                                                 (onBlur)="editAttribute(attribution)"
                                                 [(ngModel)]="line_attr.attributionLabel"
                                                 (completeMethod)="filterAttributions($event)" field="attributionLabel" [dropdown]="true">
                                    <ng-template let-attribution pTemplate="item">
                                        <div class="attribution-item">
                                            <div>{{attribution.attributionLabel}}</div>
                                        </div>
                                    </ng-template>
                                </p-autoComplete>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{attribution.attributionLabel}}
                            </ng-template>
                        </p-cellEditor>

                    </td>

                    <td style="text-align: center">
                        <div>
                            <i placement="top" ngbTooltip="Supprimer" class="pi pi-trash"
                                (click)="deleteAttribution(attribution,index)"></i>
                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr style="font-size: 13px">
                    <td colspan="8" style="text-align: left !important">
                        Aucune attribution trouvée!
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <button nbButton nbStepperPrevious class="btn_stepper prev">précedant</button>
    <button nbButton nbStepperNext class="btn_stepper next">suivant</button>








    </nb-step>
    <!--/Attributions-->
    <!--Rôle fonctionnel-->
    <nb-step label="Rôle fonctionnel">
        <div style="height: 270px;">
            <p-table #dt [value]="position.functionalRoles"
                    dataKey="id"
                    styleClass="p-datatable-customers"
                    [rowHover]="true"
                    [loading]="loading"
                    [filterDelay]="0">


                <ng-template pTemplate="header">
                    <tr style="text-align: center; font-size: 13px">
                        <th style="text-align: left !important; font-size: 13px; width: 70%">Rôle fonctionnel</th>
                        <th style="text-align: left !important; font-size: 13px; width: 20%">Supérieure hiérarchique </th>
                        <th style="width: 10%;"></th>
                    </tr>

                    <tr>
                        <th style="font-size: 13px;">


                            <p-autoComplete [(ngModel)]="line_role" [suggestions]="roleList" (onBlur)="checkRole()"
                                (completeMethod)="filterRoles($event)" field="roleLabel" [dropdown]="true">
                                <ng-template let-role pTemplate="item">
                                    <div class="role-item">
                                        <div>{{role.roleLabel}}</div>
                                    </div>
                                </ng-template>
                            </p-autoComplete>


                        </th>
                        <th style="font-size: 13px;">
                          <select class="form-control p-field" id="hierarchicalManagerPosition" name="side"
                                  [(ngModel)]="line_role.hierarchicalManagerPosition" style="font-size: 13px"
                                  [compareWith]="comparePosition">
                            <option [ngValue]="null">{{position.positionLabel}}</option>
                            <option *ngFor="let posit of positions_list;" [ngValue]="posit">{{posit.positionLabel}}</option>
                          </select>
                        </th>


                        <th>
                            <button pButton placement="top" ngbTooltip="Ajouter" pRipple icon="pi pi-plus"
                                class="p-button-rounded p-mr-2" style="margin-right: 7px;
                                background-color: #960032; border-color: #960032;" [disabled]="checkLineValidRole()"
                                [ngClass]="{ disabled: checkLineValidRole() }" (click)="addLineRole()">
                            </button>
                        </th>
                    </tr>


                </ng-template>
                <ng-template pTemplate="body" let-role let-index="rowIndex">
                    <tr class="p-selectable-row" style="text-align: center; font-size: 13px">
                        <td pEditableColumn style="text-align: left !important;">

                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-autoComplete  [suggestions]="roleList" [(ngModel)]="line_role" (onBlur)="editRole(role)"
                                                    (completeMethod)="filterRoles($event)"
                                                    field="roleLabel"
                                                    [dropdown]="true">
                                            <ng-template let-role pTemplate="item">
                                                <div class="role-item">
                                                    <div>{{role.roleLabel}}</div>
                                                </div>
                                            </ng-template>
                                    </p-autoComplete>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{role.roleLabel}}
                                </ng-template>
                            </p-cellEditor>

                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                  <select class="form-control p-field" id="rolehierarchicalManagerPosition" name="side"
                                          [(ngModel)]="role.hierarchicalManagerPosition" style="font-size: 13px"
                                          [compareWith]="comparePosition">
                                    <option [ngValue]="null">{{position.positionLabel}}</option>
                                    <option *ngFor="let posit of positions_list;" [ngValue]="posit">{{posit.positionLabel}}</option>
                                  </select>
                                </ng-template>
                                <ng-template pTemplate="output">
                                  <span *ngIf="role.hierarchicalManagerPosition == null">{{position.positionLabel}}</span>
                                  <span *ngIf="role.hierarchicalManagerPosition != null"> {{role.hierarchicalManagerPosition.positionLabel}}</span>
                                 
                                </ng-template>
                            </p-cellEditor>

                        </td>

                        <td style="text-align: center">
                            <div>
                                <i placement="top" ngbTooltip="Supprimer" class="pi pi-trash"
                                    (click)="deleteRole(role,index)"></i>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr style="font-size: 13px">
                        <td colspan="8" style="text-align: left !important">
                            Aucun role trouvé!
                        </td>
                    </tr>
                </ng-template>

        </p-table>



        </div>
            <button nbButton nbStepperPrevious class="btn_stepper prev">précedant</button>

            <button pButton pRipple  label="Enregistrer" icon="pi pi-check" class="primaryBtn btn_stepper next" (click)="savePosition()"
                style="margin-left: 10px"></button>


    </nb-step>
    <!--/Rôle fonctionnel-->

</nb-stepper>
