<h4 style="
    background: #e7e8e8;
    padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;
    margin-left: 10px;
  ">
  Liste des unités organisationelles
</h4>
<div class="card"
     style="
    margin: auto;
    margin-top: 3%;
    border-color: #e7e8e8 !important;
    border: solid;
  ">
  <p-table #dt
           [value]="buisnessUnitList"
           dataKey="id"
           styleClass="p-datatable-customers"
           [rowHover]="true"
           [rows]="10"
           [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[10, 15]"
           [loading]="loading"
           [paginator]="true"
           currentPageReportTemplate=""
           [filterDelay]="0"
           sortField="company.companyLabel" sortMode="single"
           (onSort)="updateRowGroupMetaData()">
    <ng-template pTemplate="caption">
      <div>
        <div class="p-d-flex p-ai-center p-jc-between" style="width: 60%; display: inline-block">
          <span class="p-input-icon-left" style="width: 100%">
            <i class="pi pi-search"></i>
            <input pInputText type="text" style=" width: 93%" class="searchInput, p-inputtext"
                   (input)="dt.filterGlobal($event.target.value, 'contains')"
                   placeholder="Chercher une unité organisationelle.." />
          </span>
        </div>

        <div style="float: right;">

          <div style="display: flex">
            <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="primaryBtn" (click)="addNewBuisnessUnit()"
                    style="margin-right: 10px;"></button>

          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr style="text-align: center; font-size: 15px">
        <th style="text-align: center; font-size: 13px; width: 25%" pSortableColumn="positionLabel">
          Dénomination
        </th>
        <th style="text-align: center; font-size: 13px; width: 20%" pSortableColumn="positionLabel">
          Code
        </th>
        <th style="text-align: center; font-size: 13px; width: 25%" pSortableColumn="businessUnit.businessUnitLabel">
          Unité organisationnelle parente
        </th>

        <th style="text-align: center; font-size: 13px; width: 20%" pSortableColumn="positionCategory.positionCategoryLabel">
          Position responsable
        </th>



        <th style="width: 10%; font-size: 13px; text-align: center">Action</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-buisnessUnit let-rowIndex="rowIndex">
      <tr *ngIf="rowGroupMetadata[buisnessUnit.company.companyLabel].index === rowIndex">
        <td colspan="5" style=" text-align: left !important;margin-left: 10px">
          <img *ngIf="buisnessUnit.company.companyLogoUrl == '' || buisnessUnit.company.companyLogoUrl == null" [alt]="buisnessUnit.company.companyLabel" class="img_class" src="./../../../../assets/images/default_company_logo.jpg"
               width="32" style="vertical-align: middle">
          <img *ngIf="buisnessUnit.company.companyLogoUrl != '' && buisnessUnit.company.companyLogoUrl != null" [alt]="buisnessUnit.company.companyLabel" [src]="sanitizer.bypassSecurityTrustResourceUrl(buisnessUnit.company.companyLogoUrl)" width="32" style="vertical-align: middle" />
          <span class="p-text-bold p-ml-2"
                style=" font-size: 15px; font-weight: bold; margin-left: 5px;">{{buisnessUnit.company.companyLabel}}</span>
        </td>
        
      </tr>
      <tr class="p-selectable-row" style="text-align: center; font-size: 13px">
        <td style="text-align: center; font-size: 13px">
          {{ buisnessUnit.businessUnitLabel }}

        </td>

        <td style="text-align: center; font-size: 13px">
          {{ buisnessUnit.businessUnitCode }}

        </td>



        <td style="text-align: center; font-size: 13px">

          <span *ngIf="buisnessUnit.parentBusinessUnit != null">
            {{ buisnessUnit.parentBusinessUnit.businessUnitLabel }}
          </span>
          <span *ngIf="buisnessUnit.parentBusinessUnit == null">
            {{ buisnessUnit.businessUnitLabel }}
          </span>

        </td>

        <td style="text-align: center; font-size: 13px">
          <span *ngIf="buisnessUnit.responsablePosition == null"> Non Défini</span>
          <span *ngIf="buisnessUnit.responsablePosition != null"> {{ buisnessUnit.responsablePosition.positionLabel }}</span>

        </td>

        <td style="text-align: center">
          <div>

            <i placement="top" ngbTooltip="Modifier" class="pi pi-pencil" style="margin-right: 7px"
               (click)="editBuisnessUnit(buisnessUnit)"></i>
            <i placement="top" ngbTooltip="Supprimer" class="pi pi-trash" (click)="deleteBuisnessUnit(buisnessUnit)"></i>

          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr style="font-size: 13px">
        <td colspan="8" style="text-align: left !important">
          Aucune unité organisationelle trouvée!
        </td>
      </tr>
    </ng-template>

  </p-table>

</div>

<p-dialog header="{{titleHeader}}" [(visible)]="showBuisnessUnitModal" [modal]="true" [style]="{width: '45vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false" (onHide)="hideBuisnessUnitWindow()">


  <div style="margin-top: 5%;">
    <!--businessLabel-->
    <div class="mb-1 col-md-12 col-12 p-field" *ngIf="buisnessUnit">
      <label for="businessLabel" class="p-float-label">Dénomination <strong style="color: #960032;">*</strong></label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
        <input type="text"
               class="form-control p-field"
               id="businessUnitLabel"
               [(ngModel)]="buisnessUnit.businessUnitLabel" />
      </div>
    </div>
    <div class="mb-1 col-md-12 col-12 p-field" *ngIf="buisnessUnit">
      <label for="businessCode" class="p-float-label">Code <strong style="color: #960032;">*</strong></label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
        <input type="text"
               class="form-control p-field"
               id="businessUnitCode"
               [(ngModel)]="buisnessUnit.businessUnitCode" />
      </div>
    </div>

    <div class="mb-1 col-md-12 col-12 p-field" *ngIf="buisnessUnit">
      <label for="businessCompany" class="p-float-label">Société <strong style="color: #960032;">*</strong></label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
        <select class="form-control p-field" id="positionCompany" name="side"
                [(ngModel)]="buisnessUnit.company" style="font-size: 13px"
                [compareWith]="compareCompany"
                (change)="getAllBuisnessUnitForCompany()">
          <option [ngValue]="null">
            Selectionner la société
          </option>
          <option *ngFor="let company of companies;" [ngValue]="company">
            {{company.companyLabel}}
          </option>
        </select>
      </div>
    </div>
    <!--businessUnitManagerName-->
    <div class="mb-1 col-md-12 col-12 p-field" *ngIf="buisnessUnit">
      <label for="businessCompany" class="p-float-label">Unité organisationelle parente <strong style="color: #960032;">*</strong></label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
        <select class="form-control p-field" id="parentBU" name="side"
                [(ngModel)]="buisnessUnit.parentBusinessUnit" style="font-size: 13px"
                [compareWith]="compareBU"
                [disabled]="buisnessUnit.company == null">
          <option [ngValue]="null">
            {{buisnessUnit.businessUnitLabel}}
          </option>
          <option *ngFor="let bu of companyBuisnessUnits;" [ngValue]="bu">
            {{bu.businessUnitLabel}}
          </option>
        </select>
      </div>
    </div>

    <div class="mb-1 col-md-12 col-12 p-field">
      <label for="businessUnitDescription" class="p-float-label">Un petit mot à propos l'unité organisationelle</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-list"></i></span>
        <textarea id="story"
                  name="story"
                  rows="3"
                  class="form-control p-field"
                  pInputText
                  style="width: 100%"
                  id="businessUnitDescription"
                  [(ngModel)]="buisnessUnit.businessUnitDescription"></textarea>
      </div>
    </div>

    <div style="margin-top: 20px; float:right">
      <button pButton
              pRipple
              label="Annuler"
              icon="pi pi-times"
              class="btn btn-secondary"
              (click)="hideBuisnessUnitWindow()">
      </button>

      <button [disabled]="checkBusinessUnitValid()"
              pButton
              pRipple
              label="Enregistrer"
              icon="pi pi-check"
              class="primaryBtn"
              (click)="saveNewBuisnessUnit(buisnessUnit)"
              style="margin-left: 10px">
      </button>
    </div>

  </div>









</p-dialog>

<p-dialog header="Supprimer une unité organisationelle" [(visible)]="displayDeleteBUWindow" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false" (onHide)="hideBuisnessUnitWindow()">
  <br>
  Voulez-vous supprimer l'unité organisationelle' <span class="customer-badge status-negotiation">{{buisnessUnit.businessUnitLabel}}</span> ?
  <ng-template pTemplate="footer">
    <div style="margin-top: 20px;">
      <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-secondary p-mr-2"
              (click)="hideBuisnessUnitWindow()"></button>

      <button pButton pRipple label="Supprimer" icon="pi pi-check" class="p-button-danger p-mr-2"
              (click)="delBuisnessUnit()"></button>

    </div>
  </ng-template>

</p-dialog>
