<h4 
style="
    background: #e7e8e8;
    padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;
    margin-left: 10px;
  ">
    Liste des catégories
</h4>
<div
  class="card"
  style="
    margin: auto;
    margin-top: 3%;
    border-color: #e7e8e8 !important;
    border: solid;
  "
>
<p-table 
#dt [value]="categoriesList" dataKey="categoryPositionId" styleClass="p-datatable-customers" [rowHover]="true" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 15]" [loading]="loading" [paginator]="true"
    currentPageReportTemplate="" [filterDelay]="0" [globalFilterFields]="[
  'positionCategoryId',
  'positionCategoryLabel',
  'positionCategoryDetails'
]">
    <ng-template pTemplate="caption">
      <div
      class="p-d-flex p-ai-center p-jc-between"
      style="width: 100%; display: inline-block"
    >
      <span class="p-input-icon-left" style="width: 55%">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          style="width: 93%"
          class="searchInput, p-inputtext"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Chercher une catégorie.."
        />
      </span>
    </div>
   
    </ng-template>

    <ng-template pTemplate="header">
        <tr style="text-align: center; font-size: 13px">
          <th style="width: 3rem"></th>
            <th style="text-align: center; font-size: 13px; width: 70%">Libellé</th>
        
            <th style="width: 30%; font-size: 13px; text-align: center">Actions</th>
        </tr>
        <tr>
          <th style="width: 3rem"></th>
            <th style="font-size: 13px;">
              <input style="font-size: 13px; " 
               pInputText type="text" placeholder="Libellé du catégorie" class="form-control p-field"
                  [(ngModel)]="categorie.positionCategoryLabel">
            </th>
            
            <th style="text-align: center">
              <button pButton placement="top" ngbTooltip="Ajouter" pRipple icon="pi pi-plus"
                class="p-button-rounded p-mr-2" style="background-color: #960032;
                 border-color: #960032;" [disabled]="checkCategorieValid()"
                [ngClass]="{ disabled: checkCategorieValid() }" (click)="saveNewCategorie()"></button>
            </th>
          </tr>
        
    </ng-template>
    <ng-template pTemplate="body" let-categorie >
       
        <tr class="p-selectable-row" style="text-align: center; font-size: 13px;"    >
          <td></td>

            <td pEditableColumn style="text-align: left !important; font-size: 13px;">
                <p-cellEditor>
                  <ng-template pTemplate="input">
              <input style="font-size: 13px;" pInputText type="text" placeholder="position categorie"
                     class="form-control p-field" [(ngModel)]="categorie.positionCategoryLabel" (change)="editCategorie(categorie)">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{categorie.positionCategoryLabel}}
                  </ng-template>
                </p-cellEditor>
              </td>
             
           
            <td style="text-align: center;">
           
                    <i placement="top" ngbTooltip="Supprimer" class="pi pi-trash"
                        (click)="deleteCategorie(categorie)"></i>
                
            </td>
        </tr>
    </ng-template>
    

    <ng-template pTemplate="emptymessage">
        <tr style="font-size: 13px">
            <td colspan="8" style="text-align: left !important">
            </td>
        </tr>
    </ng-template>
</p-table>
</div>






  <p-dialog header="Supprimer une catégorie" [(visible)]="displayDeleteCategorie" [modal]="true"
  [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

  <br>
  Voulez-vous toujours supprimer la catégorie<span
    class="customer-badge status-negotiation">{{categorie.positionCategoryLabel}}</span> ?
  <ng-template pTemplate="footer">
    <div style="margin-top: 20px;">
      <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-secondary p-mr-2"
        (click)="displayDeleteCategorie=false"></button>

      <button pButton pRipple label="Supprimer" icon="pi pi-check" class="p-button-danger p-mr-2"
        (click)="delCategorie()"></button>

    </div>
  </ng-template>
</p-dialog>


