.not-paid-red{
  height: 18px;
  width: 18px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.paid-green{
  height: 18px;
  width: 18px;
  background-color: #4dbd4d;
  border-radius: 50%;
  display: inline-block;
}
