<p-table #dt
        [value]="positions_list"
        dataKey="id"
        styleClass="p-datatable-customers"
        [rowHover]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 15]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate=""
        [filterDelay]="0"
         [globalFilterFields]="['positionLabel' ]"
        >
<ng-template pTemplate="caption">
  <div>
    <div class="p-d-flex p-ai-center p-jc-between" style="width: 60%; display: inline-block">
      <span class="p-input-icon-left" style="width: 100%">
          <i class="pi pi-search"></i>
          <input pInputText type="text" style=" width: 93%" class="searchInput, p-inputtext"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Chercher une position.." />
      </span>
    </div>

    <div style="float: right;">

      <div style="display: flex">
        <button pButton pRipple label="Importer" icon="pi pi-file-excel" class="primaryBtn mr-1"
                (click)="showImportWindow()"></button>

        <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="primaryBtn" (click)="addNewPosition()"
          style="margin-right: 10px;"></button>

      </div>
    </div>
  </div>
</ng-template>

<ng-template pTemplate="header">
  <tr style="text-align: center; font-size: 15px">
    <th style="text-align: center; font-size: 13px; width: 15%" pSortableColumn="positionLabel">
      Dénomination
    </th>
    <th style="text-align: center; font-size: 13px; width: 15%" pSortableColumn="job.jobLabel">
      Métier
    </th>

    <th style="text-align: center; font-size: 13px; width: 12%" pSortableColumn="company.companyLabel">
      Société
    </th>
    <th style="text-align: center; font-size: 13px; width: 15%" pSortableColumn="businessUnit.businessUnitLabel">
      Unité organisationnelle
    </th>

    <th style="text-align: center; font-size: 13px; width: 14%" pSortableColumn="hierarchicalManagerPosition.positionLabel">
      Supérieure hiérarchique
    </th>
    <th style="text-align: center; font-size: 13px; width: 13%" pSortableColumn="functionalManagerPosition.positionLabel">
      Supérieure Fonctionel
    </th>
    <th style="text-align: center; font-size: 13px; width: 10%" >
      Statut
    </th>
    <th style="width: 10%; font-size: 13px; text-align: center">Action</th>
  </tr>
</ng-template>

<ng-template pTemplate="body" let-positionTable>
  <tr class="p-selectable-row" style="text-align: left !important; font-size: 13px">
    <td style="text-align: center !important; font-size: 13px">
      {{ positionTable.positionLabel }}

    </td>
    <td style="text-align: center !important; font-size: 13px">
      {{ positionTable.job?.jobLabel }}

    </td>
    <td style="text-align: center !important; font-size: 13px">
      <span *ngIf="positionTable.company != null">
        {{ positionTable.company.companyLabel }}
      </span>
      <span *ngIf="positionTable.company == null">
        Non défini
      </span>

    </td>
    <td style="text-align: center !important">
      <span *ngIf="positionTable.businessUnit != null">
        {{ positionTable.businessUnit.businessUnitLabel }}
      </span>
      <span *ngIf="positionTable.businessUnit == null">
        Non défini
      </span>

    </td>


    <td style="text-align: center !important; font-size: 13px" >

      <span *ngIf="positionTable.hierarchicalManagerPosition != null">
        {{ positionTable.hierarchicalManagerPosition.positionLabel }}
      </span>
      <span *ngIf="positionTable.hierarchicalManagerPosition == null">
        {{positionTable.positionLabel}}
      </span>
      <!--
      {{position.hierarchicalManagerPosition.userPosition.user.userFirstName}}
      {{position.hierarchicalManagerPosition.userPosition.user.userLastName}}
      -->
    </td>
    <td style="text-align: center !important; font-size: 13px">
       <span *ngIf="positionTable.functionalManagerPosition != null">
        {{ positionTable.functionalManagerPosition.positionLabel }}
      </span>
      <span *ngIf="positionTable.functionalManagerPosition == null">
        Non défini
      </span>
    </td>
    <!--
    <td style="text-align: center; font-size: 13px" *ngIf="position.fonctionalManagerPosition">
      {{ position.fonctionalManagerPosition.positionLabel }}
      {{position.fonctionalManagerPosition.userPosition.user.userFirstName}}
      {{position.fonctionalManagerPosition.userPosition.user.userLastName}}
    </td>
    <td style="text-align: center; font-size: 13px" *ngIf="!position.fonctionalManagerPosition">
      Non défini
    </td>
    -->
    <td style="text-align: center; font-size: 13px">

      <span ngbTooltip="Non Active" *ngIf="!checkPositionActive(positionTable)" class="not-paid-red" placement="top" ></span>
      <span ngbTooltip="Active" *ngIf=" checkPositionActive(positionTable)" class="paid-green" placement="top" ></span>
    </td>

    <td style="text-align: center">
      <div>
      <!--  <i placement="top" ngbTooltip="Voir la fiche de position" class="pi pi-eye" (click)="viewPosition(positionTable)"
		style="margin-right: 7px"></i>
      -->
        <i placement="top" ngbTooltip="Visualiser la fiche fonction" class="pi pi-file" (click)="showPositionFunctionSheet(positionTable)"
           style="margin-right: 7px; color: #6200ee"></i>
        <i placement="top" ngbTooltip="Modifier" class="pi pi-pencil" style="margin-right: 7px"
          (click)="editPosition(positionTable)"></i>
        <i placement="top" ngbTooltip="Supprimer" class="pi pi-trash" (click)="deletePosition(positionTable)"></i>

      </div>
    </td>
  </tr>
</ng-template>

<ng-template pTemplate="emptymessage">
  <tr style="font-size: 13px">
    <td colspan="8" style="text-align: left !important">
      Aucune position trouvée!
    </td>
  </tr>
</ng-template>

</p-table>

<p-dialog header="{{titleHeader}}" [(visible)]="addNewPositionModal" [modal]="true" [style]="{width: '65vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false" (onHide)="hidePositionWindow()">
    <ngx-add-new-position [position]="position"
                           [positions_list]="positions_list"
                           (addNewPositionEvent)="saveNewPosition($event)"

                          (cancelEvent)="hidePositionWindow()"
                            >
    </ngx-add-new-position>
</p-dialog>

<p-dialog header="{{titleViewPoition}}" [(visible)]="viewPositionModal" [modal]="true" [style]="{width: '85vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false" (onHide)="initPosition()">
		<div style="margin-top: 3% !important">

		<p-panel header= "Roles fonctionels" >

<!--
		  <p-table [value]="position.functionalRoles">
          <ng-template pTemplate="header">
              <tr style="font-size: 13px !important">
                  <th style="text-align: left !important;font-size: 13px !important; width:70%">Role fonctionnel</th>
				  <th style="text-align: center !important;font-size: 13px !important; width:30%">Superieur fonctionnel</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-functionalRole>
            <tr style="color: #960032 !important">

              <td style="text-align: left !important; font-size: 13px">{{functionalRole.roleLabel }}</td>

              <td style="text-align: center !important; font-size: 13px">
                <span *ngIf="functionalRole.hierarchicalManagerPosition == null">{{position.positionLabel}}</span>
                <span *ngIf="functionalRole.hierarchicalManagerPosition != null"> {{functionalRole.hierarchicalManagerPosition.positionLabel}}</span>

              </td>


            </tr>
          </ng-template>
		  <ng-template pTemplate="emptymessage">
          <tr style="    font-size: 13px;
    color: #960032 !important
">
            <td colspan="8" style="text-align: left !important;">Aucun role fonctionne a été ajouté pour cette position!</td>
          </tr>
        </ng-template>
      </p-table>
-->


		</p-panel>


		</div>

		<div style="margin-top: 3% !important">

		<p-panel header= "Liste des missions" >

<!--
		  <p-table [value]="position.missions">
          <ng-template pTemplate="header">
              <tr style="font-size: 13px !important">
                  <th style="text-align: left !important;font-size: 13px !important; width:100%">Mission</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-mission>
              <tr style="color: #960032 !important">

                  <td style="text-align: left !important; font-size: 13px">{{mission.missionLabel }}</td>


                </tr>
          </ng-template>
		  <ng-template pTemplate="emptymessage">
          <tr style="    font-size: 13px;
    color: #960032 !important
">
            <td colspan="8" style="text-align: left !important;">Aucune mission a été ajoutée pour cette position!</td>
          </tr>
        </ng-template>
      </p-table>
-->


		</p-panel>


		</div>

		<div style="margin-top: 3% !important">

		<p-panel header= "Liste des attributions" >

<!--
		  <p-table [value]="position.attributions">
          <ng-template pTemplate="header">
              <tr style="font-size: 13px !important">
                  <th style="text-align: left !important;font-size: 13px !important; width:100%">Attribution</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-attribution>
              <tr style="color: #960032 !important">

                  <td style="text-align: left !important; font-size: 13px">{{attribution.attributionLabel }}</td>


                </tr>
          </ng-template>
		  <ng-template pTemplate="emptymessage">
          <tr style="    font-size: 13px;
    color: #960032 !important
">
            <td colspan="8" style="text-align: left !important;">Aucune attribution a été ajoutée pour cette position!</td>
          </tr>
        </ng-template>
      </p-table>
-->


		</p-panel>


		</div>




  </p-dialog>



<p-dialog header="Supprimer une position" [(visible)]="displayDeletePosition" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false" (onHide)="initPosition()">
  <br>
  Voulez-vous supprimer la position' <span  class="customer-badge status-negotiation">{{position.positionLabel}}</span> ?
  <ng-template pTemplate="footer">
    <div style="margin-top: 20px;">
      <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-secondary p-mr-2"
              (click)="displayDeletePosition=false"></button>

			   <button pButton pRipple label="Supprimer" icon="pi pi-check" class="p-button-danger p-mr-2"
              (click)="delPosition()"></button>

    </div>
  </ng-template>

</p-dialog>



<p-dialog header="Importer des positions" [(visible)]="displayImporterPosition" [modal]="true" [style]="{width: '30vw'}"
          [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <br>
  <div class="row justify-content-center align-items-center">
    <input id="file-field" name="file-field" (change)="selectFile($event)" type="file" accept=".xls,.xlsx">

  </div>
  <ng-template pTemplate="footer">
    <div style="margin-top: 20px;">
      <button [disabled]="!showImportButton" pButton pRipple label="Importer" icon="pi pi-check"
              (click)="importer()" class="primaryBtn"></button>
      <button pButton pRipple label="Annuler" icon="pi pi-times"
              (click)="closeImportWindow()" class="p-button-secondary p-mr-2"></button>
    </div></ng-template>
</p-dialog>
