<h4 *ngIf="group.groupId == null || group.groupId == ''" style="
    background: #e7e8e8;
    padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;
    margin-left: 10px;
  ">
  Ajouter un groupe d'utilisateurs
</h4>
<h4 *ngIf="group.groupId != null && group.groupId != ''" style="
    background: #e7e8e8;
    padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;
    margin-left: 10px;
  ">
  Modifier un groupe d'utilisateurs
  <span style="float:right;color:#900C3F" class="customer-badge ">crée le {{group.createdAt }} -- modifié le
    {{group.updatedAt }}</span>
  <div><span class="customer-badge status-label">{{group.groupName}}</span></div>

</h4>
<div style="width: 100%;
    margin: auto;margin-top:3%; border-color:#E7E8E8 !important; border:solid">
  <p-panel [toggleable]="false">
    <div class="p-grid p-fluid">
<!-- 
      <div *ngIf="group.groupId!=null" style="display: flex">
        <div class="mb-1 col-md-6 col-12 p-field">
          <label for="creationDate" class="p-float-label">Date de création</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
            <input type="text" class="form-control p-field" id="creationDate" [(ngModel)]="group.createdAt"
              disabled="true">
          </div>
        </div>
        <div class="mb-1 col-md-6 col-12">
          <label for="modificationDate" class="p-float-label">Date de dernière modification</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
            <input type="text" class="form-control p-field" id="modificationDate" [(ngModel)]="group.updatedAt "
              disabled="true">
          </div>
        </div>
      </div>
    -->

      <div style="display: flex">
        <div class="mb-12 col-md-6 col-12">
          <label for="groupName" class="p-float-label" style="font-size: 13px">Libellé</label>
          <div class="p-inputgroup p-fluid">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>

            <input [ngClass]="{
                'is-invalid': group.groupName == null
              }" type="text" class="form-control p-field" id="groupName" [(ngModel)]="group.groupName"
              style="font-size: 13px" (keyup)="checkCode()" />
          </div>
        </div>
        <div class="mb-12 col-md-6 col-12">
          <label for="groupCode" class="p-float-label" style="font-size: 13px">Code</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
            <input [ngClass]="{
              'is-invalid': group.groupCode == null
            }" type="text" class="form-control p-field" id="groupCode" [(ngModel)]="group.groupCode"
              style="font-size: 13px" />
          </div>
        </div>
      </div>
    </div>

    <div class="p-grid p-fluid">
      <div style="display: flex">
        <div class="mb-12 col-md-12 col-12">
          <label for="groupDetails" class="p-float-label" style="font-size: 13px">Un petit mot à propos le groupe (facultatif)</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-list"></i></span>
            <textArea id="groupDetails" name="fielddetails" ngDefaultControl [(ngModel)]="group.groupDetails"
              [placeholder]="
              'Saisir içi plus de détatils sur le group'
            " rows="4" style="width: 100%; text-align: justify; padding: 20px;">
          </textArea>
          </div>
        </div>

      </div>
    </div>
  </p-panel>
</div>




<div style="width: 100%;
    margin: auto;margin-top:3%; border-color:#E7E8E8 !important; border:solid">
  <p-panel [toggleable]="false" header="Affecter des utilisateurs">

    <div class="row">


      <div class="col-4 md-4 drag-column scrollable-container" style="margin-top: 70px;height:300px;">
        <div *ngFor="let user of availableUsers">
          <div class="product-item" pDraggable="users" (onDragStart)="dragStart(user)" (onDragEnd)="dragEnd()">
            <div class="image-container">
              <img  class="exemple2" *ngIf="user.userPictureUrl!=null && user.userPictureUrl!='' " [src]="  sanitizer.bypassSecurityTrustResourceUrl(user.userPictureUrl)" style="width: 57px;
              height: 55px;">
                <div   *ngIf="user.userPictureUrl=='' || user.userPictureUrl==null " style="width:57px" class="paid-black" placement="top" ><p style="    width: 50px;
                 text-align: center;
                 margin-left: 7%;
                 margin-top: -7%;"  class="pad">{{user.userFirstName[0].toUpperCase()}}{{user.userLastName[0].toUpperCase()}}</p></div>
            </div>
            <div class="product-list-detail" >
              <h5 class="p-mb-2" style="font-size: 15px;">{{user.userLastName +' '+ user.userFirstName}}</h5>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{user.userRegistrationNumber}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 md-8 drop-column scrollable-container" pDroppable="users" (onDrop)="drop($event)"
        style="height:300px;">
        <p-table [value]="selectedUsersGroup">
          <ng-template pTemplate="header">
            <tr>
              <th style="font-size: 13px; width: 30%;text-align: center;">Nom Complet</th>
              <th style="font-size: 13px; width: 21%;text-align: center;">Matricule</th>
              <th style="font-size: 13px; width: 21%;text-align: center;">Date Debut Affectation</th>
              <th style="font-size: 13px; width: 21%;text-align: center;">Date Fin Affectation</th>
              <th style="font-size: 13px; width: 7%;text-align: center;"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-userGroup>
            <tr>
              <td style="font-size: 13px;text-align: center;font-weight: bold;">
                <img class="exemple2" *ngIf="userGroup.user.userPictureUrl!=null && userGroup.user.userPictureUrl!='' "
                  [src]="sanitizer.bypassSecurityTrustResourceUrl(userGroup.user.userPictureUrl)" style="width: 57px;
           height: 55px;">
                <div *ngIf="userGroup.user.userPictureUrl=='' || userGroup.user.userPictureUrl==null "
                  style="width:57px" class="paid-black" placement="top">
                  <p style="    width: 50px;
              text-align: center;
              margin-left: 7%;
              margin-top: -7%;" class="pad">
                    {{userGroup.user.userFirstName[0].toUpperCase()}}{{userGroup.user.userLastName[0].toUpperCase()}}</p>
                </div>
                <span class="image-text" style="margin-left: 10px">{{userGroup.user.userLastName +' '+ userGroup.user.userFirstName}}</span>

              </td>
              <td style="font-size: 13px;text-align: center;">{{userGroup.user.userRegistrationNumber}}</td>
              <td pEditableColumn style="text-align: center;" class="text-left">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input style="font-size: 13px;" pInputText type="date" class="form-control p-field"
                      [(ngModel)]="userGroup.startDate">
                  </ng-template>
                  <ng-template pTemplate="output">
                    <div style="text-align: center;">
                      <span style="font-size: 13px;">
                        {{userGroup.startDate | date: 'dd-MM-yyyy'}}
                      </span>
                    </div>


                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn style="text-align: center;" class="text-left">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input style="font-size: 13px;" pInputText type="date" class="form-control p-field"
                      [(ngModel)]="userGroup.endDate">
                  </ng-template>
                  <ng-template pTemplate="output">
                    <div style="text-align: center;">
                      <span style="font-size: 13px;">
                        {{userGroup.endDate | date: 'dd-MM-yyyy'}}
                      </span>
                    </div>




                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <i class="pi false-icon pi-times-circle" (click)="deleteUserGroup(userGroup)"></i>

              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

    </div>


  </p-panel>
</div>



<div class="p-panel p-panel-header" style="margin-top: 20px; float: right; padding: 2%">
  <button pButton pRipple label="Annuler" icon="pi pi-times" class="btn btn-secondary" (click)="cancel()"></button>

  <button [disabled]="checkGroupValid()" [ngClass]="{ disabled: checkGroupValid() }" pButton pRipple label="Enregistrer"
    icon="pi pi-check" class="primaryBtn" (click)="saveNewGroup()" style="margin-left: 10px"></button>
</div>