<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<h4 *ngIf="!showIndicatorAriaWindow">
  
Domaines des indicateurs
</h4>
<div *ngIf="!showIndicatorAriaWindow" class="card">
  <p-table #dt [value]="areas" 
              dataKey="id" 
              styleClass="p-datatable-customers" 
              [rowHover]="true" [rows]="5"
              [showCurrentPageReport]="true" 
              [rowsPerPageOptions]="[10,15]" 
              [loading]="loading" [paginator]="true"
              currentPageReportTemplate="" [filterDelay]="0"
              [globalFilterFields]="['indicatorAreaLabel','indicatorAreaCode']">

    <ng-template pTemplate="caption">
      <div>
      
        <div
        class="p-d-flex p-ai-center p-jc-between"
        style="width: 60%; display: inline-block"
      >
        <span class="p-input-icon-left" style="width: 100%">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            style="width: 93%"
            class="searchInput, p-inputtext"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Chercher un domaine des indicateurs.."
          />
        </span>
      </div>
        <!-- 
        <div style="float:right; margin-left: 5px;">
          <button pButton pRipple label="Importer" icon="pi pi-file-excel" class="primaryBtn"
          ></button>
        </div>-->
        <div style="float:right">
          <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="primaryBtn"
            (click)="showIndicatorAriaWindow = true"></button>
        </div>

        
      </div>
   </ng-template>

    <ng-template pTemplate="header">
      <tr style="text-align: center; font-size: 15px;">
        
        <th style="text-align: center; font-size: 13px;width: 40%" pSortableColumn="indicatorAreaLabel">
          Libellé 
        </th>
        <th style="text-align: center; font-size: 13px;width: 45%" pSortableColumn="indicatorAreaDetails">
          Détails 
        </th>
        
        <th style="width: 17%;font-size: 13px; text-align: center;" pSortableColumn="indicatorAreaLabel">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-area>
      <tr class="p-selectable-row" style="text-align: center; font-size: 13px;">
        <td style="text-align: center;font-size: 13px;">
          {{area.indicatorAreaLabel}}
        </td>
        <td style="text-align: center;font-size: 13px;">
          {{area.indicatorAreaDetails}}
        </td>
        

        <td style="text-align: center;">
          <div >
            <div  style="float : left; background-color: #960032 ; color: white; width: 20px; height: 20px; border-radius: 40%;margin-right: 7px;margin-top: -3px;" 
            ngbTooltip="{{area.nbrPerformanceIndicator}} indicateur(s)"> {{area.nbrPerformanceIndicator}}</div>
            <i  placement="top" ngbTooltip="Modifier" class="pi pi-pencil"
              style="margin-right: 7px; " (click)="editArea(area)"></i>
            
            <i placement="top" ngbTooltip="Supprimer" class="pi pi-trash" (click)="deleteArea(area)"
              ></i>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr style="font-size: 13px">
        <td colspan="8" style="text-align: left !important;">Aucun domaine des indicateurs trouvée!</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<ngx-add-new-indicator-area *ngIf="showIndicatorAriaWindow" [area]="area" 
  (addNewIndicatorAreaEvent)="saveArea($event)" (cancelEvent)="hideAreaWindow(); initArea();">
</ngx-add-new-indicator-area>
 
<p-dialog header="Supprimer un domaine des indicateurs" [(visible)]="displayDeleteArea" [modal]="true"
  [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <br>
  
  <br>
  Voulez-vous toujours supprimer le domaine des indicateurs <span
    class="customer-badge status-negotiation">{{area.indicatorAreaCode}}</span> ?
  <ng-template pTemplate="footer">
    <div style="margin-top: 20px;">
      <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-secondary p-mr-2"
        (click)="displayDeleteArea=false"></button>

      <button pButton pRipple label="Supprimer" icon="pi pi-check" class="p-button-danger p-mr-2"
        (click)="delArea()"></button>

    </div>
  </ng-template>
</p-dialog>



