<h4 *ngIf="user.userId  == null" style="background: #E7E8E8; 
padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;margin-left: 10px">
  Profil
</h4>


<div style=" border-color:#E7E8E8 !important;">
  <p-panel header="Informations Personnelles" [toggleable]="false">
    <div class="p-grid p-fluid">
      <div style="display: flex">
        <div class="mb-1 col-md-3 col-12 p-field" style="max-height: 220px;">


          <div style="width: 200px;
        margin: auto;position: relative;">

            <img class="img1" *ngIf="imgURL!=null " [src]="imgURL" style="border-radius: 50%;
                width: 200px;
                height: 200px;

                padding: auto;
                margin-left: 10%;">
            <img class="img2" style="border-radius: 50%; width: 200px;
            height: 200px;

            padding: auto;
            margin-left: 10%;" *ngIf="imgURL2!=null" [src]="sanitizer.bypassSecurityTrustResourceUrl(imgURL2)">


            <i type="button" id="loadPhoto" ngbTooltip="télécharger" class="pi pi-camera"
              onclick="document.getElementById('file').click();" style="position: absolute;
                top: 166px;
                right: 8px;"></i>
            <input id="file" #file type="file" accept='image/*' (change)="preview(file.files)" style="display: none" />
          </div>




        </div>
        <div class="mb-1 col-md-9 col-12 p-field">
          <div style="display: flex">

            <div class="mb-1 col-md-6 col-12 p-field">
              <label for="userFirstName" class="p-float-label">Nom <strong style="color: #0b2089;">*</strong></label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                <input type="text" class="form-control p-field" id="userFirstName" [(ngModel)]="user.userFirstName"
                  [ngClass]="{
        
        'is-valid': user.userFirstName != null && user.userFirstName !== ''
      }">
              </div>
            </div>
            <div class="mb-1 col-md-6 col-12">
              <label for="userLastName" class="p-float-label">Prénom <strong style="color: #0b2089;">*</strong></label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                <input type="text" class="form-control p-field" id="userLastName" [(ngModel)]="user.userLastName "
                  [ngClass]="{
        'is-valid': user.userLastName  != null && user.userLastName  !== ''
      }">
              </div>
            </div>
          </div>

          <div style="display: flex">

            <div class="mb-1 col-md-6 col-12 p-field">
              <label for="userGender" class="p-float-label">Genre <strong style="color: #0b2089;">*</strong></label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>

                <select [(ngModel)]="user.userGender" class="browser-default custom-select">
                  <option value="MADAME">Madame</option>
                  <option value="MADEMOISELLE">Mademoiselle</option>
                  <option value="MONSIEUR">Monsieur</option>
                </select>
              </div>
            </div>
            <div class="mb-1 col-md-6 col-12 p-field">
              <label for="userCivilStatus" class="p-float-label">Etat civil <strong
                  style="color: #0b2089;">*</strong></label>

              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>

                <select [(ngModel)]="user.userCivilStatus" class="browser-default custom-select">
                  <option value="CELIBATAIRE">Célibataire</option>
                  <option value="MARIE">Marié(e)</option>
                  <option value="VEUF">Veuf(ve)</option>
                </select>
              </div>
            </div>
          </div>
          <div style="display: flex">
            <div class="mb-1 col-md-4 col-12 p-field">
              <label for="userBirthDate" class="p-float-label">Date de naissance <strong
                  style="color: #0b2089;">*</strong></label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                <input type="date" class="form-control p-field" id="userBirthDate" [(ngModel)]="user.userBirthDate">
              </div>
            </div>

            <div class="mb-1 col-md-4 col-12 p-field">
              <label for="userBirthCountry" class="p-float-label"> Pays de naissance <strong
                  style="color: #0b2089;">*</strong></label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-flag"></i></span>
                <select [(ngModel)]="user.userBirthCountry" class="browser-default custom-select"
                  (change)="changeCountry($event.target.value)">
                  <option *ngFor="let count of countriesList"> {{count.name}} </option>
                </select>
              </div>
            </div>
            <div class="mb-1 col-md-4 col-12 p-field">
              <label for="userBirthCity" class="p-float-label"> Ville de naissance <strong
                  style="color: #0b2089;">*</strong></label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-home"></i></span>
                <select [(ngModel)]="user.userBirthCity" class="browser-default custom-select">
                  <option *ngFor="let city of cities">{{city.name}} </option>
                </select>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
  </p-panel>
  <div style="margin-top: 1%;display:flex">
    <div style="width: 50%">
      <p-panel header="Contacts" [toggleable]="false">
        <div class="p-grid p-fluid">
          <div style="display: flex">
            <div class="mb-1 col-md-12 col-12 p-field">
              <label for="userPhoneNumber" class="p-float-label">
                Numéro de téléphone <strong style="color: #0b2089;">*</strong>
              </label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>

                <input type="text" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'tn'}"
                  (hasError)="hasError($event)" (ng2TelOutput)="getNumber($event)"
                  (intlTelInputObject)="telInputObject($event)" (countryChange)="onCountryChange($event)"
                  class="form-control p-field" id="userPhoneNumber" [(ngModel)]="user.userPhoneNumber"
                  (keyup)="CheckTelHasError=null" [ngClass]="{
    'is-valid': CheckTelHasError==true && user.userPhoneNumber!=null ,
    'is-invalid': CheckTelHasError==false && user.userPhoneNumber!= phone
}" />
              </div>
            </div>

          </div>
          <div style="display: flex">

            <div class="mb-1 col-md-12 col-12 p-field">
              <label for="userEmail" class="p-float-label">Mail <strong style="color: #0b2089;">*</strong></label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>

                <input type="email" pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" (keyup)="checkMail()" required
                  class="form-control p-field" id="userEmail" [(ngModel)]="user.userEmail" [ngClass]="{
                    'is-invalid' : checkEmail== false ,
            'is-valid': checkEmail== true && user.userEmail!=null
          }">
              </div>
            </div>
          </div>

          <div style="display: flex">
            <div class="mb-1 col-md-12 col-12 p-field">
              <label for="userPays" class="p-float-label">Pays <strong style="color: #0b2089;">*</strong></label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                <select [(ngModel)]="user.userPays" class="browser-default custom-select"
                  (change)="changeCountry_($event.target.value)">
                  <option *ngFor="let count of countriesList"> {{count.name}} </option>
                </select>
              </div>
            </div>

          </div>
          <div style="display: flex">

            <div class="mb-1 col-md-12 col-12 p-field">
              <label for="userCity" class="p-float-label">Ville <strong style="color: #0b2089;">*</strong></label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                <select [(ngModel)]="user.userCity" class="browser-default custom-select">
                  <option *ngFor="let city of cities_">{{city.name}} </option>
                </select>
              </div>
              <br>
            </div>
          </div>
          <div style="display: flex; margin-top: -21px">
            <div class="mb-1 col-md-12 col-12 p-field">
              <label for="userNRue" class="p-float-label">N° et Rue <strong style="color: #0b2089;">*</strong></label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                <textarea type="text" rows="2" class="form-control p-field" id="userNRue" [(ngModel)]="user.userNRue"
                  [ngClass]="{

                  'is-valid': user.userNRue != null && user.userNRue !== ''
                }"></textarea>
              </div>
            </div>
          </div>

        </div>
      </p-panel>
    </div>

    <div style="width: 50%">

      <div *ngIf="isCandidate">
        <p-panel header="Informations de candidature" [toggleable]="false">
          <div class="p-grid p-fluid">


            <div style="display: flex">
              <div class="mb-1 col-md-12 col-12 p-field">
                <label for="candidatEcole" class="p-float-label">
                  Ecole  <strong style="color: #0b2089;">*</strong>
                </label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                  <input type="text" class="form-control p-field" id="candidatEcole"
                    [(ngModel)]="candidate.candidatEcole">
                </div>
              </div>


            </div>
            <div style="display: flex">


              <div class="mb-1 col-md-6 col-12 p-field">
                <label for="candidatDiplome" class="p-float-label">
                  Diplome<strong style="color: #0b2089;">*</strong>
                </label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-bars"></i></span>
                  <input type="text" class="form-control p-field" id="candidatDiplome"
                    [(ngModel)]="candidate.candidatDiplome" [ngClass]="{
            'is-valid': candidate.candidatDiplome != null && candidate.candidatDiplome !== ''
          }">
                </div>
              </div>
              <div class="mb-1 col-md-6 col-12 p-field">
                <label for="candidatAnneeDiplome" class="p-float-label">
                  Année diplome<strong style="color: #0b2089;">*</strong>
                </label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-bars"></i></span>
                  <input type="text" class="form-control p-field" id="candidatAnneeDiplome"
                    [(ngModel)]="candidate.candidatAnneeDiplome" [ngClass]="{
            'is-valid': candidate.candidatAnneeDiplome != null && candidate.candidatAnneeDiplome !== ''
          }">
                </div>
              </div>
            </div>
            <div style="display: flex">

              <div class="mb-1 col-md-6 col-12 p-field">
                <label for="candidatNumberExperience" class="p-float-label">
                  Nombre d'expérience <strong style="color: #0b2089;">*</strong>
                </label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-bars"></i></span>
                  <input type="number" class="form-control p-field" id="candidatNumberExperience"
                    [(ngModel)]="candidate.candidatNumberExperience" [ngClass]="{
            'is-valid': candidate.candidatNumberExperience != null && candidate.candidatNumberExperience !== ''
          }">
                </div>
              </div>
              <div class="mb-1 col-md-6 col-12 p-field">
                <label for="candidatFiliere" class="p-float-label">
                  Filiére  <strong style="color: #0b2089;">*</strong>
                </label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-bars"></i></span>
                  <select [(ngModel)]="candidate.candidatFiliere" class="browser-default custom-select"
                  [compareWith]="compareFiliere">
                    <option *ngFor="let filiere of filiereList" [ngValue]="filiere">{{filiere.domaineLabel}}</option>

                  </select>
                </div>
              </div>
            </div>
          </div>





        </p-panel>
      </div>
      <div *ngIf="isTrainee">
        <p-panel header="Informations de candidature" [toggleable]="false">
          <div class="p-grid p-fluid">


            <div style="display: flex">
              <div class="mb-1 col-md-12 col-12 p-field">
                <label for="stagiaireEcole" class="p-float-label">
                  Ecole <strong style="color: #0b2089;">*</strong>
                </label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                  <input type="text" class="form-control p-field" id="stagiaireEcole"
                    [(ngModel)]="trainee.stagiaireEcole">
                </div>
              </div>


            </div>
            <div style="display: flex">


              <div class="mb-1 col-md-12 col-12 p-field">
                <label for="candidatDiplome" class="p-float-label">
                  Diplome à obtenir <strong style="color: #0b2089;">*</strong>
                </label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-bars"></i></span>
                  <input type="text" class="form-control p-field" id="stagiaireFuturDiplome"
                    [(ngModel)]="trainee.stagiaireFuturDiplome" [ngClass]="{'is-valid': trainee.stagiaireFuturDiplome != null && trainee.stagiaireFuturDiplome !== ''
                   }">
                </div>
              </div>

            </div>
            <div style="display: flex">

              <div class="mb-1 col-md-6 col-12 p-field">
                <label for="stagiaireNiveauEtude" class="p-float-label">
                  Niveau d'étude<strong style="color: #0b2089;">*</strong>
                </label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-bars"></i></span>
                  <input type="text" class="form-control p-field" id="stagiaireNiveauEtude"
                    [(ngModel)]="trainee.stagiaireNiveauEtude" [ngClass]="{
            'is-valid': trainee.stagiaireNiveauEtude != null && trainee.stagiaireNiveauEtude !== ''
          }">
                </div>
              </div>
              <div class="mb-1 col-md-6 col-12 p-field">
                <label for="stagiaireFiliere" class="p-float-label">
                  Filiére  <strong style="color: #0b2089;">*</strong>
                </label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-bars"></i></span>
                  <select [(ngModel)]="trainee.stagiaireFiliere" class="browser-default custom-select" [compareWith]="compareFiliere">
                    <option *ngFor="let filiere of filiereList" [ngValue]="filiere">{{filiere.domaineLabel}}</option>

                  </select>
                </div>
              </div>
            </div>
          </div>





        </p-panel>
      </div>
      <div>
        <p-panel header="Importer CV" [toggleable]="false">
          <div class="p-grid p-fluid">
            <div style="display: flex">
              <div class="mb-1 col-md-3 col-12" style="padding-top: 18px;">
                <label>
                  <input type="file" (change)="selectFile($event)" hidden>
                  <span pButton pRipple label="Choisir" icon="pi pi-upload" class="btn btn-secondary"></span>

                </label>
              </div>
              
              <div class="mb-1 col-md-5 col-12" style="padding-top: 18px;">
               
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                  <input type="text" class="form-control p-field" id="currentFile"
                    [(ngModel)]="user.userCvUrl">
                </div>

              </div>
              <div class="mb-1 col-md-4  col-12" style="padding-top: 18px;">
                <label>
                  <button pButton pRipple type="button" label="Supprimer compte" class="p-button-danger"
                  (click)="deleteCompte()"></button>

                </label>
              </div>






            </div>
          </div>

        </p-panel>
      </div>
    </div>




    
  </div>





  <div class="p-panel p-panel-header" style="margin-top: 20px;float: right; padding: 2%;">

    <button pButton pRipple label="Annuler" icon="pi pi-times" class="btn btn-secondary" (click)="cancel()"></button>

    <button [disabled]="checkUserValid()" [ngClass]="{'disabled':  checkUserValid()}" pButton pRipple
      label="Enregistrer" icon="pi pi-check" class="primaryBtn" (click)="saveUser()"
      style="margin-left: 10px;"></button>
  </div>

</div>



<p-dialog header="Supprimer le compte" [(visible)]="displayDeleteUser" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <br>
  Voulez-vous supprimer votre compte?
  <ng-template pTemplate="footer">
    <div style="margin-top: 20px;">
      <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-secondary p-mr-2"
              (click)="displayDeleteUser=false"></button>

			   <button pButton pRipple label="Supprimer" icon="pi pi-check" class="p-button-danger p-mr-2"
              (click)="deleteCompteCurrentUser()"></button>

    </div>
  </ng-template>
</p-dialog>