label {
    font-size: 13px;
  }
  input {
    font-size: 13px;
  }
  select {
    font-size: 13px;
  }
  h4{
    background: #E7E8E8;
    padding: 10px 10px 10px 10px !important;
        font-size: 20px !important;
        color: #222b45;margin-left: 10px
  }
  .card-add{
    width: 90%; 
    margin: 
    auto;margin-top:3%; 
    border-color:#E7E8E8 !important; 
    border:solid
  }